<h3>General settings</h3>

<form class="form-horizontal">
    <div class="form-group">
        <label for="email" class="col-sm-6 control-label">Email</label>

        <div class="col-sm-6">
            {{input type="email" class="form-control text-align-right" id="email" style="text-align: right;"
            placeholder="Email"
            value=currentUser.email}}
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-sm-6 control-label">Password</label>

        <div class="col-sm-6">
            <button class="btn btn-info" {{action 'openModal' 'application/modal/change-password'
            'application'}}>
                CHANGE
            </button>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="marketing" class="col-sm-6 control-label">Receive promotional emails</label>

        <div class="col-sm-6">
            <div class="togglebutton togglebutton-info">
                <label class="pull-right margin-right-16">
                    {{input type="checkbox" checked=currentUser.receivePromotionalEmails}}
                    <span class="toggle"></span>
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="marketing" class="col-sm-6 control-label">Migrate Tests from MyCQs</label>

        <div class="col-sm-6">
            <button class="btn btn-info" {{action 'openModal' 'application/modal/migrate-tests'}}>
                BEGIN
            </button>
        </div>
    </div>
</form>