<div class="attempt-card">
    <div class="attempt-info">
        <p class="inline-block no-margin">You scored <strong>{{attempt.score}}%</strong></p>
        {{from-now time=attempt.createdAt mini=true showIcon=true}}
    </div>
    {{test-card test=attempt.test parentController=parentController cardType=cardType}}
</div>