<div class="gauge-box">
    <div class="gauge-holder">
        {{ember-knob fgColor=foregroundColor bgColor=backgroundColor width=width height=height
        readOnly=true min=0 max=100 value=difficulty angleArc=180 angleOffset=-90 displayInput=false}}
    </div>
    <label class="easy">Easy</label>
    <label class="pull-right hard">Hard</label>
</div>