{{#if defaultButton}}
    {{#if showFollow}}
        <button class="btn btn-default btn-xs follow-button margin-top-0 margin-bottom-0"
            {{action 'followUser' user}}>
            <i class="fa fa-fw fa-user-plus margin-right-8"></i>
            {{!-- after content in style/components--}}
        </button>
    {{/if}}

    {{#if showUnfollow}}
        <button class="btn btn-default btn-xs follow-button unfollow margin-top-0 margin-bottom-0"
            {{action 'unfollowUser' user}}>
            {{!-- after content in style/components--}}
        </button>
    {{/if}}
{{/if}}

{{#if miniButton}}
    {{#if showFollow}}
        <button class="btn btn-default btn-xs follow-button mini margin-top-0 margin-bottom-0"
            {{action 'followUser' user bubbles=false}}>
            <i class="fa fa-fw fa-user-plus icon"></i>
        </button>
    {{/if}}

    {{#if showUnfollow}}
        <button class="btn btn-default btn-xs follow-button mini unfollow  margin-top-0 margin-bottom-0"
            {{action 'unfollowUser' user bubbles=false}}>
            <i class="fa fa-fw fa-user icon"></i>
        </button>
    {{/if}}
{{/if}}