<div {{bind-attr class=":badge-container badgeProgression.isUnlocked"}}>
    <div class="icon-container">
        <img {{bind-attr src=badgeProgression.badge.icon.secureUrl}} class="icon" />
        <div class="gloss-overlay"></div>
    </div>
    <span class="title">{{badgeProgression.badge.title}}</span>
</div>