<div class="visibility-switch">
    <label {{bind-attr for=checkboxDynamicId}} class="switch-text-label">Public</label>
    {{input type="checkbox" checked=checked id=checkboxDynamicId}}
    <label {{bind-attr for=checkboxDynamicId}} class="switch-indicator"></label>
</div>