<div class="visibility-switch">
    <label for="privacy-switch" class="switch-text-label">Public</label>
    {{input type="checkbox" checked=checked id="privacy-switch"}}
    <label for="privacy-switch" class="switch-indicator"></label>
</div>