/**
 * APPLICATION - Synap Web
 * Style Author - Omair Vaiyani
 * Contact: omair@synap.ac
 * Copyright MYLABS LTD 2015
 */
colorPrimary = #e73a3d
colorPrimary-50 = #FDEBEC
colorPrimary-100 = #F8C4C5
colorPrimary-200 = #F39D9E
colorPrimary-300 = #F39D9E
colorPrimary-400 = #EB5B5D
colorPrimary-500 = colorPrimary
colorPrimary-600 = #CA3335
colorPrimary-700 = #AD2C2E
colorPrimary-800 = #902426
colorPrimary-900 = #741D1F
colorPrimary-A100 = #F8C4C5
colorPrimary-A200 = #F39D9E
colorPrimary-A400 = #EB5B5D
colorPrimary-A700 = #AD2C2E
colorSecondary = #e41d72

colorBackground = #fbfbfb
colorDarkBackground = #212b3a
colorText = #414141
colorDarkText = #6e7681
colorLightText = #d1dae8
colorBorder = #eaeaea
colorDarkBorder = darken(colorBorder, 10)
colorBackgroundCard = white
colorRed = #EB7265
colorGreen = #8BC060
colorOrange = #FF8833
colorInfo = #13a4df

fontSizeHuge = 38px
fontSizeXXL = 26px
fontSizeXL = 20px
fontSizeL = 16px
fontSizeM = 12px
fontSizeS = 10px

/*
 * Parameters (margin, padding, etc)
 */
marginPrimary = 16px
marginSecondary = 8px

/*
 * Screen Dimensions
 */
screenSmall = 768px
screenMedium = 992px
screenLarge = 110px
/*
 * Gradient Mixin
 */
backgroundGradient(darken)
  background darken(colorPrimary, darken)
  background -moz-linear-gradient(left, darken(colorPrimary, darken) 0%, darken(colorSecondary, darken) 100%)
  background -webkit-gradient(linear, left top, right top, color-stop(0%, darken(colorPrimary, darken)), color-stop(100%, darken(colorSecondary, darken)))
  background -webkit-linear-gradient(left, darken(colorPrimary, darken) 0%, darken(colorSecondary, darken) 100%)
  background -o-linear-gradient(left, darken(colorPrimary, darken) 0%, darken(colorSecondary, darken) 100%)
  background -ms-linear-gradient(left, darken(colorPrimary, darken) 0%, darken(colorSecondary, darken) 100%)
  background linear-gradient(to right, darken(colorPrimary, darken) 0%, darken(colorSecondary, darken) 100%)

@import "addons/material-sidebar"
@import "material.css"
@import helpers
@import components

@font-face
  font-family Oxygen
  font-style normal
  src url('/fonts/Oxygen.otf')

body
  font-family Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif !important
  background-color colorBackground
  color colorText

*:focus
  outline none

/* Template Styles */
@import onboarding
@import create
@import test
@import result
@import browse

.svg-icons rect, .svg-icons polygon, .svg-icons circle,
.svg-icons line, .svg-icons g, .svg-icons path, .svg-icons ellipse,
.svg-icons polyline {
  stroke: colorPrimary;
}

.svg-icons rect, .svg-icons polygon, .svg-icons circle,
.svg-icons line, .svg-icons g, .svg-icons path, .svg-icons ellipse,
.svg-icons polyline {
  stroke: colorPrimary;
}

.svg-icon-white rect, .svg-icon-white polygon, .svg-icon-white circle,
.svg-icon-white line, .svg-icon-white g, .svg-icon-white path, .svg-icon-white ellipse,
.svg-icon-white polyline {
  stroke: white;
}

/* NAVBAR */
.navbar-main
  height 40px
  color white !important
  text-transform uppercase
  font-size 12px
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  backgroundGradient(0)
  .navbar-brand
    height 40px
    line-height 20px

@media (max-width: 1198px)
  .navbar .navbar-brand
    padding 15px
    height 40px

@media (max-width: 767px)
  .navbar .navbar-brand
    position: absolute;
    left: calc(50% - 45px);

.navbar-transparent
  background-color transparent !important

.navbar-nav > li > a
  padding-top 16px !important
  padding-bottom 14px !important

.navbar-default.navbar .dropdown-menu li > a, .navbar.navbar .dropdown-menu li > a
  text-shadow 0 0 0
  font-size 12px

.navbar-brand .logo-spinner {
  display: inline-block;
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.navbar-brand img.logo-text {
  margin-top: 3px;
}

.navbar-brand-adjust {
  margin: -14px;
}

// Navbar search current
.navbar-form, .main-search
  position relative
  .form-control
    background-color darken(colorPrimary-300, 10)
    width 100px
    border-radius: 4px;
    background-image none
    padding 8px 24px 8px 8px
    color colorPrimary-600 !important
    transition width 0.2s
    &:hover
      background-color colorPrimary-300
  span
    position: absolute;
    right: 8px;
    top: 15px;
    font-size: 18px;
    cursor pointer
  &.is-focused
    .form-control
      width 300px
      background-color white
      color black !important
    span
      color black

.navbar-form
  span
    right 24px
  .search-popdown
    width: calc(100% - 30px);
    top: 42px;
    left: 15px;

.search-popdown
  text-align left
  background: #edeff0;
  color black
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  overflow: hidden;
  overflow-y scroll
  position: absolute;
  left: 2px;
  width: calc(100% - 2px);
  min-height 115px
  max-height 640px
  z-index: 20;
  -webkit-transform: translate3d(0, 0, 0);
  transition width 0.2s
  &.dual
    width 600px
  h5
    margin-bottom 0

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-right
  li > a.navbar-right-adjust
    padding-top 11px !important
    padding-bottom 11px !important
  li.navbar-messages > a
    padding-top 17px !important
    padding-bottom 13px !important
  li.log-in-join
    border: 2px solid colorPrimary-700;
    height: 30px;
    margin-top: 11px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.12);
    &:hover
      background-color: rgba(0, 0, 0, 0.10);
    a
      padding-top 4px !important

.navbar-nav > li > a.nav-icons img {
  height: 30px;
  width: 30px;
}

.navbar-nav > li > a > img.profile-thumbnail {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.navbar-nav > li > a > div {
  display: inline-block;
  vertical-align: middle;
}

.navbar-messages > ul {
  max-height: 350px;
  overflow-y: scroll;
}

.navbar-messages > ul > li {
  position: relative;
}

.navbar-messages > a {
  padding-top: 18px !important;
  padding-bottom: 12px !important;
}

.navbar-messages > a:hover {
  background-color: inherit !important;
  cursor: pointer !important;
}

.navbar-messages > a > span.badge {
  margin-left: 2px;
  background-color: red;
}

.user-message-item {
  width: 258px;
  padding: 4px 8px;
}

.user-message-item:hover {
  background-color: #F5F5F5;
}

.user-message-item .read-indicator {
  position: absolute;
  right: 4px;
  top: 3px;
  opacity: 0.6;
}

.user-message-item .read-indicator:hover {
  opacity: 1;
  cursor: pointer;
}

.user-message-item.is-unread {
  background-color: #E8ECE9;
  color: #091B0E;
}

.user-message-item .profile-image {
  width: 50px;
  height: 50px;
}

.user-message-item .message-text {
  font-size: smaller;
  display: inline-block;
  vertical-align: top;
  width: calc(250px - 73px);
}

.user-message-item .message-text > p {
  margin: 0px 4px;
}

.user-message-item .message-text > p.time-ago {
  color: darkgrey;
}

hr.user-message-item-separator {
  margin: 0px;
}

.navbar-main .dropdown-menu > li {
  cursor: pointer !important;
}

/* SECTIONAL */
/* SECTIONAL -- PAGE HEADER */
.page-header
  position: relative;
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  margin-bottom: 16px;
  font-size: 20px;
  margin-top: -20px;
  backgroundGradient(15)
  background-image: url("/img/index-page-cover.jpg");
  background-size: cover;
  background-position-y: 65%;
  min-height: 250px;
  @media (min-width screenSmall)
    min-height 150px
  .dark-overlay
    z-index 1
  .content-body
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 100px);
    bottom: 0;
    z-index: 2;
    line-height: 100px;
    height: 100px;
    color white
    @media (min-width screenSmall)
      width screenSmall - 32px
      left calc(50% - 368px)
      top: calc(50% - 50px);
    .title
      maxOneLine(46px, 46px)
      margin-top 8px
      font-weight 400
    .subtitle
      maxOneLine(20px, 22px)
      margin-bottom 0
      font-style italic
      font-weight 400
    .editable:hover
      border-bottom: 1px dashed colorLightText;
      cursor pointer
    .extras
      font-size 12px
      margin-top marginSecondary
      padding 0 marginSecondary
      line-height normal
  &.with-action-container
    height 220px
    .content-body
      top calc(50% - 84px)

.settings-well
  h3
    color colorPrimary
    margin-top 0
    margin-bottom marginPrimary

/* TEMPLATE - APPLICATION */
.action-bar {
  color: white;
  padding: 15px;
}

.action-bar-content {
  line-height: 20px;
}

.app-loading
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background darken(colorBackground, 3)
  z-index 1
  display block // REMOVE AFTER BETA
  img
    position absolute
    height 150px
    top: calc(50% - 150px)
    left: calc(50% - 151.5px)

.top-sticky {
  text-align: center;
  background-color: darkorange;
  color: white;
  font-weight: 700;
}

/* Login Modal */
.sign-up-validation {
  padding-top: 6px;
  font-size small
}

.sign-up-validation > span {
  padding: 1px 4px;
  border-radius: 3px;
}

.login-connecting-error {
  padding: 4px;
  margin: 0
  float: right;
}

.forgot-password {
  line-height: 2.5;
}

/* TEMPLATE - INDEX/GUEST */
/*
 */
#index-page-video
  position absolute
  top 50px
  bottom 0
  left 0
  width 100% !important
  z-index -1
  display none

.index-page-cover
  position relative
  height: 600px;
  padding-top: 80px;
  margin-top: -20px;
  background-size: cover;
  background-position: center top;
  background-image url('/img/index-page-cover.jpg')
  .container
    position relative
    z-index 2
    color white
    .title
      color colorPrimary
  .play-video
    z-index 3
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    height: 100px;
    top: calc(50% - 50px);
    color white
    text-align center
    line-height 30px
    cursor pointer
    .icon
      font-size 70px
    .play-title
      margin-top 0
      font-size 30px
      font-weight 400
    &:hover
      color colorPrimary

.guest-page-actions, .page-header-action-container
  z-index 2
  position absolute
  bottom 0
  left 0
  width 100%
  padding marginPrimary
  background-color alpha(black, 0.2)
  text-align center
  .title-header
    color white
    margin-top 0
  .input-group
    color colorText
    max-width 500px
    min-width 320px
    margin auto
    @media (min-width screenSmall)
      min-width 400px;
    input
      width 100%
      height 46px
      line-height 46px
      border 1px black solid
      border-radius 4px 0 0 4px
      border-right 0
      padding marginSecondary
      font-size 14px
      @media (min-width screenSmall)
        font-size 18px
    span.search-icon
      cursor pointer
      backgroundGradient(0)
      border 1px solid black
      color white
      position: absolute;
      right: -1px;
      top: 0;
      height: 46px;
      width: 40px;
      line-height: 30px;
      padding: 6px;
      &:hover
        backgroundGradient(2)
      &:active
        backgroundGradient(4)

@media (min-width 1101px) {
  #index-page-video {
    display inherit
  }

  .index-page-cover {
    background-image none
  }
}

.index-page-main
  padding-bottom: 16px;
  background-color colorBackground
  .features-container
    height 500px
    background-image url('/img/white-icon-filled-background.png')
    overflow hidden
    @media (min-width screenSmall)
      height 400px
    img
      position: absolute
      width 300px
      top 0
      left calc(50% - 150px)
      @media (min-width screenSmall)
        height 600px
        right 10px
        left inherit
        width auto
        top 10px
  .stats-row
    position relative
    backgroundGradient(0)
    padding-bottom 48px
    padding-top marginPrimary
    color white
    .icon-overlay
      background-image url('/img/icon-white-512.png')
      position: absolute;
      top: 0;
      bottom: 0;
      width: 400px;
      opacity: .055;
      background-size: cover;
      left: calc(50% - 200px);
      background-position: center center;
      -webkit-filter: invert(10%);
    hr
      background white !important
    .stat-icon
      font-size 26px
      margin-right marginPrimary
    .stat-right
      text-align left
      .stat-number
        font-size 16px
        font-weight bold
        margin 0
      .stat-title
        margin 0
    @media (min-width screenSmall)
      .stat-icon
        font-size 38px

      .stat-right .stat-number
        font-size 20px
  .achievements-row
    .achievement-cell
      padding 16px
      background white
      border 1px solid alpha(black, 0.06)
      text-align center
      @media (min-width screenSmall)
        padding 32px
      img
        width: 80%;

hr
  &.mini-hr
    background colorSecondary
    width: 20px;
    height: 2px;
    margin-top: 0;
  &.full-hr
    border-top: 1px solid colorBorder;
    width: calc(100% + 32px);
    margin-left: -16px !important

.grey-body {
  background-color: #edf1f2;
}

/* TEMPLATE - PROGRESS */
ul.progress-chart-legends
  margin-top marginPrimary
  padding-left marginPrimary
  list-style-type none
  li
    background colorPrimary-400
    color white
    padding 4px 8px
    border-radius 2px 8px
    cursor pointer
    max-width 150px
    text-align center

/* TEMPLATE - USER */
.cover-image {
  background-size: cover;
  height: 300px;
  background-position: 50%;
  margin: -26px -16px -16px -16px;
  position: relative;
}

.edit-cover-image-overlay {
  height: 300px;
  margin: 10px 0px -16px 0px;
  position: relative;
  background-color: rgba(50, 50, 50, 0.6);
  color: white;
  font-size: 22px;
  padding-top: 128px;
  z-index: 1;
}

.cover-image .temporary-cover-image {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 26px;
}

.edit-cover-image-overlay .centered-block {
  position: relative;
  margin: auto;
  width: 150px;
}

.edit-cover-image-overlay span, .edit-cover-image-overlay p {
  cursor: pointer;
}

.cover-image > .profile-image, .cover-image > .edit-profile-image-overlay {
  position: absolute;
  bottom: 16px;
  border-radius: 50px;
  left: 16px;
  height: 100px;
  width: 100px;
  background-size: cover;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .cover-image > .profile-image, .cover-image > .edit-profile-image-overlay {
    border-radius: 75px;
    height: 150px;
    width: 150px;
  }
}

.cover-image .edit-profile-image-overlay {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 48px;
  z-index: 2;
}

.cover-image .edit-profile-image-overlay span {
  font-size: 24px;
  cursor: pointer;
}

.cover-image .edit-profile-image-overlay p {
  cursor: pointer;
}

.cover-image .edit-profile-image-dropdown, .edit-cover-image-dropdown {
  background-color: rgb(255, 255, 255);
  position: absolute;
  color: black;
  left: 8px;
  width: 135px;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
}

.cover-image .edit-profile-image-dropdown ul, .edit-cover-image-dropdown ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: start;
  overflow: hidden;
}

.cover-image .edit-profile-image-dropdown ul > li, .edit-cover-image-dropdown ul > li {
  padding: 2px 10px;
  cursor: pointer;
}

.cover-image .edit-profile-image-dropdown ul > li > label, .edit-cover-image-dropdown ul > li > label {
  margin: 0px;
  cursor: pointer;
  font-weight: normal;
}

.cover-image .edit-profile-image-dropdown ul > li:hover,
.edit-cover-image-dropdown ul > li:hover {
  background-color: #e1e1e8;
}

.cover-image .user-name {
  position: absolute;
  bottom: 26px;
  left: 184px;
  right: 16px;
  color: white;
  font-size: x-large;
}

.cover-image input.user-name {
  font-size: large;
  color: black;
  width: auto;
  bottom: 36px;
  z-index: 2;
}

.cover-image .user-follow, .cover-image .user-following, .cover-image .user-edit {
  position: absolute;
  cursor: pointer;
  left: 184px;
  bottom: 10px;
  color: whitesmoke;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 6px;
}

.cover-image .user-edit {
  background: none;
  padding: 0px;
  z-index: 2;
}

.cover-image .user-edit > a {
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 6px;
  margin-right: 3px;
}

.cover-image .user-follow a:hover, .cover-image .user-following a:hover, .cover-image .user-edit a:hover {
  text-decoration: none;
}

.user-following a::before {
  content: "Following";
}

.user-following:hover a::before {
  content: "Unfollow";
}

.cover-image a {
  color: white;
}

@media (min-width: 768px) {
  .cover-image > h2 {
    font-size: 30px;
    left: 182px;
  }
}

.cover-image > .scrim {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 1;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C */
}

.user-navigation {
  position: absolute;
  bottom: 0px;
  right: 16px;
}

.user-navigation > button {
  margin-bottom: 1px;
  color: lightgray;
  width: auto;
  border: none;
  background-color: inherit;
  padding: 8px;
}

.user-navigation > button.active {
  border-bottom: 3px solid white;
  margin-bottom: 1px;
  color: white;
}

@media (min-width: 992px) {
  .action-column {
    padding-left: 1px;
  }
}

.action-card {
  padding-bottom: 0px;
}

.action-card .profile-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 16px;
  background-size: cover;
}

.action-card .action-title {
  position: absolute;
  top: 16px;
  left: 82px;
  right: 16px;
  bottom: 16px;
}

.action-card .actions-top-right {
  position: absolute;
  top: 16px;
  right: 16px;
}

.action-card .actions-bottom-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.action-card a:hover {
  cursor: pointer;
  text-decoration: none;
}

.action-card .action-title p.lead {
  margin-bottom: 0px;
}

@media (min-height: 440px) {
  .action-card .moments-ago {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.action-card.moments-ago:first-letter {
  text-transform: uppercase;
  !important
}

.autocomplete-container {
  position: absolute;
  left: 15px;
  right: 15px;
  text-align: left;
  background-color: white;
  z-index: 9;
  border: 1px #32492c solid;
  margin-top: -16px;
  max-height: 300px;
  overflow-y: scroll;
}

.autocomplete-container.relative-layout {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 16px;
}

.autocomplete-row {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.autocomplete-row .title {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 62px);
}

.autocomplete-row > p {
  margin: 0px;
}

.autocomplete-row .profile-image {
  height: 26px;
  width: 26px;
  border-radius: 13px;
}

.autocomplete-container .group-title {
  padding: 0px 6px;
  pointer-events: none;
}

.autocomplete-row:hover, .autocomplete-row.is-focused {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.course-selection > .hover-row:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.course-selection > .row > .col-md-1 a {
  position: absolute;
  top: 48px;
  cursor: pointer;
}

.facebook-friends-modal .card {
  box-shadow: none;
}

.facebook-friends-modal .card:hover {
  background-color: rgb(250, 250, 250);
}

/* TEMPLATE - INDEX (HOME) */
.home-overview .profile-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
  background-size: cover;
}

.home-overview .name {
  display: inline-block;
  vertical-align: top;
}

.nav-tabs
  li a
    color: #C6F0F5 !important;
  li.active
    a
      color: white !important;
      border-bottom: 2px solid #ffee58 !important;
      padding-bottom: 7px

.well.mini-well
  box-shadow 0 3px 7px 0 rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .19) !important

.card.home-navigation
  padding 0

.home-navigation
  button
    width calc((100% / 3) - 3px);
    border none
    border-radius 2px 0 0 2px
    background-color inherit
    background none
    color grey
    padding marginSecondary
    margin 0
    &:hover
      background-color alpha(lightgray, 0.5)

.home-navigation > button:focus, button:active, button:active:focus
  outline none

.home-navigation > button.current {
  background-color: inherit;
  color: black;
  box-shadow: none;
  border-bottom: 3px solid colorPrimary;
  margin-bottom: -2px;
}

.home-navigation .order-tests {
}

.home-navigation .order-tests > button {
  border: none;
  border-radius: 0 2px 2px 0;
  padding: 9px 8px 8px 8px;
}

/* TEMPLATE - ONBOARDING */

/* TEMPLATE - BROWSE */

/* TEMPLATE - MODAL - TEST INFO */
.test-info-modal .profile-image {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.test-info-modal .author-info {
  vertical-align: top;
}

.test-info-modal .author-info p {
  margin: 0px;
}

/* TEMPLATE - TEST */
.progress-blocks {
  height: auto;
}

.progress-block {
  height: 2px;
  display: inline-block;
  margin-left: -4px;
  background-color: #B0C0A4;
}

.progress-blocks > .is-current-item {
  background-color: #2C3E1D;
}

.question-stem {
  font-size: 16px;
}

.option {
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}

.option .option-label {
  font-weight: bold;
}

.phrase {
}

.take-test .question-image-thumbnail {
  box-shadow: none;
}

/* TEMPLATE - RESULT */
.author-info .profile-image {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.author-info .name {
  display: inline-block;
  vertical-align: middle;
}

/* Spaced Repetiton (SRS) - MODAL*/
.currency-selection i {
  cursor: pointer;
  font-size: 24px;
  color: gray;
}

.currency-selection i.active {
  color: green;
}

/* TEMPLATE - DASHBOARD / SRS */
.srs-overview {

}

.srs-overview i, .srs-dashboard i {
  margin-right: 8px;
}

.srs-dashboard .srs-box {
  padding: 8px;
  cursor: pointer;
}

.srs-box-questions-list {
  height: 461px;
  overflow-y: scroll;
  background-color: floralwhite;
  padding: 8px;
}

.srs-box-questions-list hr {
  color: black;
}

/* TEMPLATE - CONTACT US */

.contact-us .map-canvas {
  width: calc(100% + 31px);
  height: 300px;
  margin-left: -16px;
}

/* TEMPLATE - ABOUT */
aboutUsHeaderHeight = 90px
.about-us
  border-radius 4px
  max-width 950px
  .header-container
    background colorPrimary
    color whitesmoke
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height aboutUsHeaderHeight
    border-radius: 4px 4px 0 0;
    padding: 16px;
  .main-body
    margin-top aboutUsHeaderHeight
    .tabbable-panel
      .nav-tabs
        background white
        li
          a
            color darkgray !important
          &.active
            a
              color colorPrimary !important
              border-bottom 2px solid colorPrimary !important

.about-profile
  min-height 440px
  @media (min-width screenMedium)
    min-height 416px
  .image-holder
    height: 220px;
    width: 100%;
    margin: auto;
    position: relative;
    .image-mask
      position absolute
      width 220px
      height 220px
      left calc(50% - 128px)
      opacity 0.85
    .member-image
      position: absolute;
      width: 150px;
      height: 150px
      left: calc(50% - 74px);
      border-radius: 50%;
      top: 43px;
      background-size cover !important
  .member-body
    position absolute
    left 0
    right 0
    .member-info
      colour colorPrimary
      max-width 300px
      margin auto
      .member-name
        margin-top 8px
      .member-bio
        font-size 15px
  .member-social
    background #EFEFEF
    padding 0
    margin auto
    max-width 280px
    ul
      padding 0
      li
        display: inline-block;
        list-style-image: none;
        font-size: 32px;
  &.director
    min-height 281px
    .member-body
      top 170px
    .image-mask
      width 180px
      height 180px
      left calc(50% - 105px)
    .member-image
      height 123px
      width 123px
      left calc(50% - 61px)
      top 35px
    .member-social
      max-width 200px
  &.employee
    min-height 280px
    .member-body
      top 155px
    .image-mask
      width 160px
      height 160px
      left calc(50% - 94px)
    .member-image
      height 107px
      width 107px
      left calc(50% - 53px)
      top 32px
    .member-social
      max-width 200px

/* TEMPLATE - MEDICAl (PROFESSIONAL BANK) */
.professional-bank-filter-background {
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(184, 184, 184);
  transition: height, width 400ms;
}

.professional-bank-bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  left: 75%;
  top: calc(50% - 100px);
}

.professional-bank-bubble label {
  margin-top: calc(50% - 9px);
  padding: 2px 4px;
  cursor: default;
  width: 110px;
  text-align: center;
}

.professional-bank-filter-chosen {
  border-radius: 2px;
  width: 200px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -1px;
  border-bottom: 0px;
}

.professional-bank-filter-chosen .professional-bank-category:hover {
  background-color: #e26e5a;
  color: white;
}

.professional-bank-filter-chosen .professional-bank-category:active {
  background-color: #6e1b1c;
}

.professional-bank-filter-chosen .professional-bank-category {
  margin: 8px 16px;
  width: auto;
}

.professional-bank-filter-chosen .filter-connection {
  width: 1px;
  background: #A5A5A5;
  height: 16px;
  margin: -8px auto;
}

.professional-bank-filter-list {
  position: relative;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}

.professional-bank-filter-list .inner-list {
  height: 254px;
  overflow-y: scroll;
  width: 100%;
  margin-bottom: 100px;
}

.professional-bank-category {
  border-radius: 0px;
  cursor: default;
  height: 36px;
  padding: 8px;
}

.professional-bank-category p div {
  overflow: auto;
  text-overflow: ellipsis;
  width: 213px;
  white-space: nowrap;
}

.professional-bank-category span {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 37px;
  width: 46px;
  color: #C3C7C3;
  margin-top: -1px;
  line-height: 37px;
  font-size: 22px;
  cursor: pointer;
}

.professional-bank-category span.expand-category {
  right: 46px;
}

.professional-bank-category span:hover {
  background-color: #dadada;
  color: black;
}

.professional-bank-category span:active {
  background-color: #646464;
  color: white;
}

.professional-bank-filter-list .added-categories {
  position: absolute;
  bottom: 57px;
  left: 0px;
  right: 0px;
  height: 43px;
  border: 2px dashed black;
  width: 100%;
  background: #D2D2D2;
  padding: 8px;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.professional-bank-filter-list .added-categories .added-category {
  background: #0d9c00;
  color: white;
  border-radius: 2px;
  padding: 2px 5px;
  cursor: pointer;
}

.professional-bank-filter-list .added-categories .added-category i {
  margin-right: 4px;
}

.professional-bank-filter-list .added-categories .added-category:hover {
  background: #f4f4f4;
  color: crimson;
}

.professional-bank-filter-list .added-categories .added-category:active {
  background: #9f9f9f;
  color: white;
}

.professional-bank-generate {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  border: 2px solid black;
  padding: 6px 8px;
  height: 59px;
}

.professional-bank-generate input[type='number'],
.professional-bank-generate select {
  width: 45px;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  margin-top: -3px;
  padding: 4px;
}

.professional-bank-generate select {
  width: auto;
}

.professional-bank-generate .btn {
  margin-top: -5px;
}

/* TEMPLATE - MODAL MIGRATE TESTS */
ul.migrate-test-selection
  height: 250px;
  overflow-y: scroll;
  border: 1px solid;
  list-style-type: none;
  padding 0
  li
    padding: 4px 8px;
    cursor default
    &:hover
      background-color alpha(lightgrey, 0.4)
      color black
    &.is-active
      color white
      background-color colorPrimary-400 !important
      small
        color white

/* TEMPLATE - FOOTER */
/*
 * Footer
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#body-wrap
  min-height: calc(100% + 400px);
  position: relative;
  padding-bottom 460px
  &.no-padding-bottom
    padding-bottom 0
  @media (min-width: screenSmall)
    min-height calc(100% + 230px)
    padding-bottom 290px

.footer
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding-top marginPrimary
  padding-bottom marginPrimary
  background-color #5a5a5a
  color colorLightText
  .icon-overlay
    background-image url('/img/icon-white-512.png')
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
    opacity: 0.025;
    background-size: cover;
    left: calc(50% - 200px);
    background-position: center center;
    -webkit-filter: invert(100%);
  a
    color colorLightText
  .footer-logo-container
    text-align: center
    @media (min-width screenSmall)
      text-align left
    .footer-logo
      height 100px
      width 100px
      margin-top marginSecondary
  .footer-links
    .top-link
      margin-top 2px
  .footer-social
    i
      cursor pointer
      color white !important

.footer a:hover, .footer i:hover {
  color colorPrimary-300
  text-decoration: none;
}

.footer .footer-dependencies img {
  max-width: 80px;
  opacity: 0.4;
  margin-right: 8px
}

.footer .footer-dependencies img:hover {
  opacity: 1;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: alpha(colorPrimary, 0.45);
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: colorPrimary;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {
  width: 22px;
  height: 22px;
  left: 4px;
  top: 4px;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0;
  box-shadow: none;
  background: alpha(colorPrimary, 0.45);
}

.bs-wizard > .bs-wizard-step.completed > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/
/* Year Picker */
.rl-picker {
  position: relative;
}

.rl-picker button {
  border: 1px solid black;
  margin: 0;
  background-color: white;
  border-radius: 3px;
  padding: 5px;
}

.rl-picker button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.rl-picker .buttons {
  display: inline-block;
  padding: 0;
}

.rl-picker .buttons button {
  float: left;
}

.rl-picker .decrease-btn {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rl-picker .increase-btn {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rl-picker .picker-toggle-btn {
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.rl-picker .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 2px solid transparent;
}

.rl-picker.expanded .picker-toggle-btn {
  background-color: #ddd;
}

.rl-picker .picker {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: white;
  width: 200px;
}

.rl-picker.expanded > .picker {
  position: absolute;
  top: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.rl-picker .page-controls {
  text-align: center;
}

.rl-picker .previous-page-btn {
  float: left;
}

.rl-picker .next-page-btn {
  float: right;
}

.rl-picker .rl-picker .picker {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
}

.rl-picker ul {
  clear: both;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  width: 200px;
  height: 140px;
}

.rl-picker ul li {
  display: block;
  margin: 0;
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
}

.rl-picker ul li:hover {
  cursor: pointer;
  background-color: #ddd;
}

.rl-picker ul li.active {
  background-color: #ddd;
}
