/* Browse and Category */
.browse-card
  border-top none !important

.subject-grid-container
  width 100%
  margin auto
  @media(min-width screenSmall)
    width screenSmall
  .subject-container
    width calc(50% - 3px)
    height 220px
    border 1px solid colorBorder
    border-radius 2px
    padding marginPrimary
    border-left none
    &:nth-child(1n + 1)
      margin-left -4px
    @media(max-width screenSmall)
      &:nth-child(2n - 1)
        border-left 1px solid colorBorder
      &:nth-child(1n + 3)
        border-top none
        border-bottom 1px solid colorBorder
    @media(min-width screenSmall)
      width calc(25% - 3px)
      &:nth-child(4n - 3)
        border-left 1px solid colorBorder
      &:nth-child(1n + 5)
        border-top none
        border-bottom 1px solid colorBorder

.hot-tests-title
  .icon
    background: -webkit-linear-gradient(top, colorPrimary, colorSecondary);
    background: linear-gradient(top, colorPrimary, colorSecondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

.hot-tests-container > div
  width 30%
  margin-right marginPrimary
  .hot-test.card
    .top
      .tags
        position absolute
        top marginPrimary
        right marginPrimary
        .category-tag
          margin-right 2px
      .image
        height 160px
        width 100%
        background-size cover
        background-position 50%
    .stat-container
      text-align center
    .description
      white-space normal

.category-list
  li a
    border-radius 0
  li.active a.active
    background-color colorPrimary
    color lighten(colorPrimary-100, 15)
  li.semi-active a.semi-active
    background-color colorPrimary-400
    color lighten(colorPrimary-100, 10)
  ul.inner-list
    list-style-type none
    border-left 1px solid colorPrimary-800
    padding-top 3px
    padding-left 1px
    li
      padding 2px 4px

.btn-group
  box-shadow none !important
  margin-bottom 0
  .btn.dropdown-toggle
  .btn.btn-icon
    padding 6px 6px
    line-height 1px
  /*border-radius 50% !important*/
  .btn.dropdown-toggle:hover
    background-color transparent
  .btn.btn-icon:hover
    /*border-radius 50%*/
  &.open .btn.dropdown-toggle
    background-color alpha(lightgrey, 0.55)

@media (min-height: 440px) {
  .test-info-card .moments-ago {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.search-box
  span.search-icon
    position: absolute;
    top: 8px;
    right: 8px;
  span.search-icon, .floating-label
    color colorPrimary-200
  .form-control:focus ~ span.search-icon
    color colorPrimary