/* COMPONENTS */
.action-button
  margin-bottom 0

.attempt-card
  position relative
  margin-top 40px
  .attempt-info
    background: white;
    border: 1px solid colorBorder;
    position: absolute;
    right: marginSecondary
    top: -23px;
    min-width: 200px;
    min-height: 40px;
    padding: 4px 8px;
    line-height: normal;
    border-radius: 4px 4px 0 0;
    color colorText
    .time-ago
      position: absolute;
      right: 8px;
      top: 6px;

.badge-container
  display inline-block
  height 120px
  width 60px
  text-align center
  margin-right marginSecondary
  overflow hidden
  .icon-container
    height 58px
    width 58px
    border 1px solid colorDarkBorder
    border-radius 50%
    line-height 54px
    margin auto
    .icon
      height 40px
      width 40px
      filter grayscale(100%)
      -webkit-filter grayscale(100%)
  .title
    font-size 14px
    font-weight 400
    color colorDarkBorder
  &.is-unlocked
    .icon-container
      border-color colorSecondary
      .icon
        filter none
        -webkit-filter none
    .title
      color colorSecondary

.btn
  border-radius 3px

.btn-ghost
  border 2px colorSecondary solid
  background transparent !important
  font-weight 400
  color colorSecondary !important
  &.btn-primary
    color colorPrimary !important
  &.btn-info
    border-color colorInfo
    color colorInfo !important

.btn-with-icon
  padding 0
  border 1px solid colorPrimary-800
  span
    padding 0 24px
    &.right-section, &.left-section
      padding 6px 10px
      text-align: center;
      border-left: 1px solid colorPrimary-800;
      .icon
        color: white;
        width: 13px;
    &.left-section
      border-left none
      border-right: 1px solid colorPrimary-800;
  &.btn-ghost
    color colorSecondary !important
    span
      &.right-section
        border-left: 1px solid colorSecondary;
  &.btn-info, &.btn-success, &.btn-danger, &.btn-warning, &.btn-default
    border: 1px solid alpha(black, 0.15)
    span
      &.right-section
        border-left-color alpha(black, 0.15)
      &.left-section
        border-right-color alpha(black, 0.15)

.btn-facebook
  padding marginSecondary marginPrimary
  font-size small
  color white !important

@media (max-width 350px)
  .btn-facebook
    font-size 10px
    margin marginSecondary

.btn-facebook:hover, .btn-facebook:focus
  color white

.btn.fulfilled {
  background-color: green;
}

.btn.rejected {
  background-color: crimson;
}

.card
  position relative
  background-color colorBackgroundCard
  width 100%
  padding marginPrimary
  border-radius cardBorderRadius
  border 1px solid colorBorder
  box-shadow none
  color colorText

.circular-image
  height: 120px;
  width: 120px;
  background-size: cover;
  border-radius: 50%;
  display inline-block
  vertical-align middle
  margin-right 8px

/*
 * Need for small screens so that the
 * menu drops down within the screen.
 */
.dropdown-menu
  right 0
  left inherit
  @media (min-width screenSmall)
    left 0
    right inherit

.divider
  background colorBorder !important

.editable-image-container
  position relative
  .image-preview
    cursor pointer
  .dropdown
    position absolute
    bottom 4px
    right 4px
    .dropdown-toggle
      margin 0
      padding 0
      .edit-icon
        color colorSecondary

.follow-button
  width 106px
  line-height: normal
  font-size 12px
  border 1px solid colorBorder
  background-color colorBackground !important
  color colorInfo !important
  &::after
    content 'Follow'
  &.unfollow
    background-color colorInfo !important
    color white !important
    &::after
      content 'Following'
      &::after
        content 'Unfollow'
  &.mini
    width 34px
    font-size 14px
    padding: 0 4px !important
    &::after
      content ''
    &.unfollow
      &::after
        content ''
      &:hover
        .icon
          &::before
            content '\f235'
        /* Change fa-user to fa-user-times */
        &::after
          content ''

.form-horizontal
  .control-label
    text-align left !important
  .btn
    margin 0 1px
    float right
    &:hover, &:active
      box-shadow none !important
  input[type=range]
    margin-top 8px
    cursor pointer

/* Fix for floating labels in material.css */
.form-control-wrapper .form-control ~ .floating-label
  opacity 0.9
  color colorPrimary

.form-control-wrapper .form-control:focus ~ .floating-label,
.form-control-wrapper .form-control:not(.empty) ~ .floating-label {
  top: -10px;
  font-size: 10px;
  opacity: 1;
}

.form-input
  border: 1px solid colorDarkBorder
  width: 100%;
  height 48px
  padding: marginSecondary 12px;
  border-radius: 3px;
  background-color: colorBackground;
  line-height normal

.form-input-group
  .input-group-addon /* My Study Search Filter */
    background: #EEEEEE;
    border: 1px solid #D1D1D1;
    border-right: 0;
  .form-input
    border-radius 0 4px 4px 0

textarea.form-input
  height auto

.gauge-box
  position relative
  .gauge-holder
    height 36px
    width 60px
    margin auto
  label.easy
    position: absolute;
    left: calc(50% - 40px);
    top 30px
  label.hard
    position: absolute;
    right: calc(50% - 40px)
    top 30px

.icon-only-loader
  height: 60px;
  width: 47px;
  background-image: url(/img/loading-white.gif);
  background-size: cover;
  margin: auto;
  -webkit-filter: invert(100%) opacity(0.3);
  filter: invert(100%) opacity(0.3);

.hidden-file-input {
  position: absolute;
  left: -9999em;
}

.is-active
  color white
  background-color colorPrimary

.input-lg
  height 38px

/*
 * Spinner for in-page items
 */
.loading-spinner {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

/*
 * Global spinner for cross-page items
 */
.logo-spinner {
  width: 30px;
  height: 30px;
  background-color: #538A2F;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.list-card
  padding marginSecondary
  .left
    width: 104px
    height 96px
    padding 4px
    text-align center
    line-height 82px
    margin-right marginSecondary
    .author, .special-icon
      height 80px
      .profile-picture, img
        height: 80px;
        width: 80px;
        display inline-block
        vertical-align: top
        background-size cover
      img
        width auto
  .title
    font-weight 400
    maxTwoLines(24px, 24px)
  .description
    maxTwoLines(18px, 24px)
  .right
    width calc(100% - 116px)
    min-height 108px
    padding-bottom 22px
    position relative
    @media (min-width screenSmall)
      padding-bottom marginSecondary
    .title
      margin-top marginSecondary
      @media (min-width screenSmall)
        max-width calc(100% - 140px)
    .extra-actions-item-container
      position absolute
      right -8px
      bottom -8px
      height 35px
      border-left 1px solid colorBorder
      border-top 1px solid colorBorder
      @media (min-width screenSmall)
        bottom auto
      top -8px
      border-top none
      border-bottom 1px solid colorBorder
      button
        width: auto;
        padding: 8px 6px;
        font-size: 12px;
        color: colorPrimary !important;
        background: white;
        &.right-border
          border-right 1px solid colorBorder
      .btn.dropdown-toggle
        padding: 5px 5px;
        border-left 1px solid colorBorder
        @media (min-width: screenSmall)
          border-radius 0 cardBorderRadius 0 0
          border-left: 1px solid colorBorder;
          border-right: 1px solid colorBorder;
          border-top: 1px solid colorBorder;
          margin: -2px !important;
  .full-hr
    width: calc(100% + 16px);
    margin-left: -8px !important
  .bottom
    height 35px
    line-height 35px
    text-align center
    @media (min-width screenSmall)
      text-align left
    .btn-ghost
      margin marginPrimary 0 0 0
      @media (min-width screenSmall)
        float right
        margin-top 0
  &.mini
    cursor pointer
    &:hover
      background darken(white, 2)
    .right-mini
      width calc(100% - 64px)
      min-height auto
    .title
      font-size 14px
      margin-top 4px
      margin-bottom 2px
      font-weight 400
    .subtitle
      font-size 12px
      margin-bottom 0
  &.square
    position relative
    display inline-block
    width 200px
    height 200px
    padding 0
    .tags
      position absolute
      bottom 0
      right 4px
      text-align right
      max-width calc(100% - 16px)
      margin-bottom 0 !important
      @media (min-width screenMedium)
        top 4px
        bottom inherit
      .module-tag
        margin-right 2px
    .image
      height 100%
      width 100%
      background-size cover
      background-position 50%
      border-radius cardBorderRadius
    .title
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: alpha(black, 0.38);
      margin-bottom: 0 !important;
      border-radius: 0 0 cardBorderRadius cardBorderRadius
      padding marginSecondary
      color white
      maxOneLine(24px, 38px)
      cursor pointer
      &:hover
        background: alpha(black, 0.34);

.main-search
  position relative
  .form-control
    background-color darken(colorPrimary-300, 10)
    width 100px
    border-radius: 4px;
    background-image none
    padding 8px 24px 8px 8px
    color colorPrimary-600 !important
    transition width 0.2s
    &:hover
      background-color colorPrimary-300
  span
    position: absolute;
    right: marginPrimary;
    top: 15px;
    font-size: 18px;
    cursor pointer
  &.is-focused
    .form-control
      width 300px
      background-color white
      color black !important
    span
      color black
  .search-popdown
    text-align left
    background: #edeff0;
    color black
    border-radius: 3px;
    border: 1px solid #d6dadc;
    border-bottom-color: #c4c9cc;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    overflow: hidden;
    overflow-y scroll
    position: absolute;
    left: 2px;
    width: calc(100% - 2px);
    min-height 115px
    max-height 640px
    z-index: 20;
    -webkit-transform: translate3d(0, 0, 0);
    transition width 0.2s
    .prompt-text
      font-size 14px
    &.dual
      width 600px
    &.inline-results
      position relative
      margin-left 0
      border none
      box-shadow none
      background none
    h5
      margin-bottom 0

.memory-strength
  position relative
  text-align center
  pointer default
  width 40px
  height 40px
  .brain-bulb-fill
    position absolute
    left 7px
    bottom -4px
    width 27px
    background-color colorPrimary-400
  img, .grey-fill
    position absolute
    top 4px
    left 7px
    width 27px
  .grey-fill
    height: 40px;
    background-image: url("/img/brain-bulb-small-0.png");
    width: 27px;
    background-size: cover;
  label
    position: absolute;
    bottom: -24px;
    left: 0;
    right 0
    color: colorPrimary-400;
    font-size: 12px;

.my-tab {
  text-align: center;
  background-color: #B0C0A4;
  color: #FAFCF8;
  cursor: pointer;
  padding: 8px;
}

.my-tab:hover {
  text-decoration: underline;
}

glossOverlayOpacity = 0.15
glossOverlayOpacityLight = 0.25
glossRightColor = alpha(darken(white, 4), glossOverlayOpacity)
.modal
  background alpha(black, 0.5)
  .modal-dialog
    width 80%
    max-width 508px
    margin 30px auto
    .modal-content
      box-shadow none
      width auto
      border-radius marginSecondary
      .modal-title
        color colorPrimary-600
    .synap-modal
      padding marginPrimary 0 60px 0 !important
      margin auto
      margin-top 70px
      @media (min-width screenSmall)
        margin-top 110px
      &.top-image
        padding-top 56px !important
      .message
        width 100%
        text-align center
        margin-top marginPrimary
        font-weight 400
        font-size 16px
      button.action-button
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 50px;
        width: 100%;
        border-radius: 0 0 8px 8px;
      .close-modal
        position absolute
        width 40px
        height 40px
        bottom -56px
        left calc(50% - 20px)
        border 2px solid colorBorder
        border-radius 50%
        cursor pointer
        text-align center
        line-height 36px
        .icon
          font-size 24px
          color colorBorder
        &:hover
          border-color lighten(colorBorder, 10)
          .icon
            color lighten(colorBorder, 10)
      &.video-player
        width 100%

.notification-container {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1051; /*must be highest element on page*/
}

.notification
  opacity: 0;
  position: absolute;
  right: -310px;
  width: 300px;
  height: 65px;
  padding: 5px 10px 5px 40px;
  border: 0px solid black;
  border-radius: 4px;
  background-color: white;
  color: black
  font-size: 12px;
  box-shadow: 0 0 15px -5px rgb(0, 0, 0);
  transition: opacity 0.3s ease-out, top 0.3s ease-out, right 0.3s ease-out
  cursor default
  white-space nowrap
  &.is-opaque
    opacity 0.95
  &.closed
    display none
  &.notification-warning
    opacity 1
  .icon
    position: absolute;
    top: 9px;
    left: 9px;
    font-size: 26px;
    color colorPrimary
  .title
    font-size 14px
    font-weight bold
  .message, .title
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right 50px
  .close-notification
    display: none;
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: black
  .notification-action
    position: absolute;
    right: marginSecondary
    bottom: marginSecondary
    button
      padding 2px 6px !important
      &.positive
        color colorPrimary
  &:hover
    opacity 1
    border-color colorPrimary-800
    .close-notification
      display block

.onoffswitch {
  position: relative;
  width: 116px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #000500;
  border-radius: 0px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 26px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.onoffswitch-inner:before {
  content: "Public";
  padding-left: 10px;
  background-color: #FFFFFF;
  color: #14A325;
}

.onoffswitch-inner:after {
  content: "Private";
  padding-right: 10px;
  background-color: #FFFFFF;
  color: #B52828;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 0px;
  background: #B52828;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 98px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #14A325;
}

.or-wrapper
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: relative;
  display: block;
  margin-bottom: 30px;
  .or-text
    position: absolute;
    left: 46%;
    top: 0;
    background: #fff;
    padding: 10px;

input[type="range"] {
  -webkit-appearance: none !important; /*Needed to reset default slider styles */
  width: 100%;
  height: 15px;
  background-color: colorPrimary-100;
  border: 1px solid colorPrimary-100;
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: colorPrimary-500;
  border-radius: 30px;
  box-shadow: 0 1px 3px 1px alpha(black, 0.4);
  transition: all 0.5s ease;
}

/*
 * Don't like Bootstrap's use of cursor: not-allow;
 * Prefer having it as default for disabled links.
 * Also: removing the ridiculous default margin of 20px
 * to 0px on .pagination
 */
.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, .pagination > .disabled > a,
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  cursor default !important
}

.pagination {
  margin 0 !important
}

.pagination
  li
    a, a:hover
      color colorPrimary
    a.active, a.active:hover
      color white
      background colorPrimary
      border-color colorPrimary
      cursor pointer

.panel
  border-radius 10px !important
  &.card
    padding 0
  &.panel-secondary
    .panel-heading
      background-color colorSecondary
      color lighten(colorSecondary, 50)

.panel-heading
  border-top-left-radius 10px !important
  border-top-right-radius 10px !important

.profile-picture
  width 50px
  height 50px
  background-size cover
  display inline-block
  vertical-align middle
  border 1px solid colorSecondary
  border-radius 50%
  margin-right marginSecondary

.stat-container
  height 100%
  line-height 100%
  display inline-block
  vertical-align middle
  cursor default
  .stat-icon-container
    border-radius 50%
    height: 35px;
    width: 35px;
    border: 1px solid colorPrimary;
    font-size: 20px;
    line-height: 32px;
    margin-right: 4px;
    text-align: center;

/*
 * Touch Slider
 */
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}

.swiper-active-switch {
  background: #fff !important;
}

/* Default used in About. Heavily Adjusted in sections.styl */
.tabbable-panel
  .nav-tabs
    background white
    li
      a
        color darkgray !important
      &.active
        a
          color colorPrimary !important
          border-bottom 2px solid colorPrimary !important

.taggable-input {
  height: auto !important;
}

.taggable-input input[type=text] {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
}

.textarea-holder
  padding marginSecondary

.tags, ul.line-legend
  list-style: none;
  margin 4px 0 0 0
  overflow: hidden;
  padding 0
  line-height normal
  li
    float: left;
    margin-bottom marginSecondary
  &.text-center
    li
      float: none

/* TODO Check for deprecation */
.tag
  background: colorPrimary-400;
  white-space: nowrap;
  position: relative;
  margin: 0 10px 0 10px;
  displaY: inline-block;
  height: 26px;
  border-radius: 0 5px 5px 0;
  padding: 0 12px;
  border: 1px solid colorPrimary-800;
  color: whitesmoke;
  line-height: 23px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  cursor pointer
  &::before
    position: absolute;
    background: colorPrimary-400;
    content: "\25CF";
    color: white;
    text-shadow: 0 0 1px #aaa;
    font-size: 12px;
    line-height: 13px;
    text-indent: 6px;
    top: 3px;
    left: -10px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border-left: 1px solid colorPrimary-800;
    border-bottom: 1px solid colorPrimary-700;
  &:hover
    background: colorPrimary-500
    color: white;
    &::before
      background: colorPrimary-500
  &.is-active
    background: colorPrimary-600
    color: white;
    &::before
      background: colorPrimary-600;
  &.default
    background lighten(grey, 40)
    color lighten(black, 15)
    &::before
      background lighten(grey, 40)
    &:hover
      background lighten(grey, 38)
      color lighten(black, 10)
      &::before
        background lighten(grey, 38)
  input[type=text]
    background transparent
    border none
    width 100px
  .add-tag
    cursor pointer
    color colorPrimary-400
    transition all 0.2s
    &:hover
      color colorPrimary
    &.close-tag
      transform: rotate(45deg);
  &.category
    background colorSecondary
    &::before
      background colorSecondary
    &:hover
      background lighten(colorSecondary, 10)
      &::before
        background lighten(colorSecondary, 10)
    &.is-active
      background darken(colorSecondary, 10)
      &::before
        background darken(colorSecondary, 10)

.tooltipstered
  cursor default
  display inline-block
  vertical-align middle

.tooltipster-default
  border-color colorPrimary-800
  background colorPrimary
  color colorPrimary-50

.vertical-separator
  margin-left marginSecondary
  margin-right marginSecondary
  max-height 50px
  height 20px
  border-left 1px solid alpha(colorLightText, 0.45)
  display inline-block
  vertical-align middle

.visibility-switch
  position relative
  background colorBackground
  border-radius cardBorderRadius
  border 2px solid colorBorder
  height 36px
  width 100px
  line-height normal
  cursor pointer
  text-align left
  &:hover
    background darken(colorBackground, 2)
  .switch-text-label
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    padding-left: 12px;
    color colorText
    font-weight 400
    font-size 16px
    cursor pointer
  .switch-indicator
    cursor pointer
    float right
    background colorBorder
    border-radius 50%
    border 2px solid darken(colorBorder, 10)
    width: 24px;
    height: 24px;
    background: #f7f7f7;
    position: absolute;
    right: 8px;
    top: 4px;
  input[type=checkbox]
    visibility hidden
    &:hover ~ .switch-indicator
      background darken(colorBorder, 3)
    &:checked ~ .switch-indicator
      background colorInfo
