.tiles-container
  position relative
  width 100%
  padding 0 0 marginPrimary 0
  > div
    display inline-block
    vertical-align top
    width calc(50% - 10px)
    margin-bottom marginPrimary
    &:nth-child(odd)
      margin-right marginPrimary
  .tile
    width 100%
    min-width 200px
    min-height 200px
    padding marginSecondary
    cursor pointer
    @media(min-width screenSmall)
      padding marginPrimary
    &:hover
      background darken(whitesmoke, 2)
    .tile-label
      text-transform uppercase
      margin 0
    .title
      margin-top 0
      font-weight 400
    .action-link
      position absolute
      left marginSecondary
      bottom marginSecondary
      color colorDarkText
      font-weight bold
      @media(min-width screenSmall)
        left marginPrimary
        bottom marginPrimary
    .icon
      position absolute
      height 100px
      width 100px
      right marginSecondary
      bottom marginSecondary
      @media(min-width screenSmall)
        right marginPrimary
        bottom marginPrimary
    &.create-test
      background colorOrange
      color lighten(colorOrange, 45)
      &:hover
        background  lighten(colorOrange, 2)
      .action-link
        color lighten(colorOrange, 40)
    &.spaced-repetition
      background colorGreen
      color lighten(colorGreen, 45)
      &:hover
        background  lighten(colorGreen, 2)
      .action-link
        color lighten(colorGreen, 40)
    &.recommended-test
      background #475059
      color lighten(#475059, 55)
      &:hover
        background  lighten(#475059, 2)
      .action-link
        color lighten(#475059, 50)


.friends-list
  .nav
    margin-top -(marginSecondary)
    li
      a
        color colorText !important
      &.active
        a
          color black !important
          border-bottom-color colorSecondary !important