.index-page-cover
  position relative
  height 530px
  padding-top: 80px;
  margin-top: -20px;
  background-size: cover;
  background-position: center top;
  background-image url('/img/index-page-cover.jpg')
  @media(min-width screenSmall)
    height: 566px;
  .title-and-video-trigger-container
    position absolute
    right 32px
    top 25%
    z-index 2
    @media(min-width screenMedium)
      right 20%
    .title
      color colorText
      text-align left
      max-width 280px
      font-size 24px
      @media(min-width screenSmall)
        font-size 32px
    .play-video
      background: white;
      border-radius: 50px;
      width: 230px;
      height: 60px;
      color: colorText
      text-align: center
      font-weight: 600;
      line-height normal
      box-shadow: 0 0 1px 0 alpha(black, 0.2)
      .icon
        color colorPrimary
        font-size 16px
        margin-top 1px
      &:hover
        background white
        color colorPrimary

.full-animation-video-container
  position fixed
  z-index 10
  left 0
  right 0
  top 0
  bottom 0
  background alpha(black, 0.4)
  text-align center
  padding-top 100px
  @media(min-width screenMedium)
    padding-top 32px
  .embed-container
    width 80%
    height 300px
    margin auto
    @media (min-width screenMedium)
      width 960px
      height 540px

.guest-page-actions, .page-header-action-container
  z-index 2
  position absolute
  bottom 0
  left 0
  width 100%
  padding marginPrimary
  background-color alpha(black, 0.35)
  text-align center
  .title-header
    color white
    margin-top 0
  .input-group
    color colorText
    max-width 500px
    min-width 320px
    margin auto
    @media (min-width screenSmall)
      min-width 400px;
    input
      width 100%
      height 46px
      line-height 46px
      border 1px black solid
      border-radius 4px 0 0 4px
      border-right 0
      padding marginSecondary
      font-size 14px
      @media (min-width screenSmall)
        font-size 18px
    span.search-icon
      cursor pointer
      backgroundGradient(0)
      border 1px solid black
      color white
      position: absolute;
      right: -1px;
      top: 0;
      height: 46px;
      width: 40px;
      line-height: 30px;
      padding: 6px;
      &:hover
        backgroundGradient(2)
      &:active
        backgroundGradient(4)

.index-page-main
  padding-bottom: 16px;
  background-color colorBackground
  .features-container
    height 500px
    background-image url('/img/white-icon-filled-background.png')
    overflow hidden
    @media (min-width screenSmall)
      height 400px
    img
      position: absolute
      width 300px
      top 0
      left calc(50% - 150px)
      @media (min-width screenSmall)
        height 600px
        right 10px
        left inherit
        width auto
        top 10px
  .stats-row
    position relative
    backgroundGradient(0)
    padding-bottom 48px
    padding-top marginPrimary
    color white
    .icon-overlay
      background-image url('/img/icon-white-512.png')
      position: absolute;
      top: 0;
      bottom: 0;
      width: 400px;
      opacity: .055;
      background-size: cover;
      left: calc(50% - 200px);
      background-position: center center;
      -webkit-filter: invert(10%);
    hr
      background white !important
    .stat-icon
      font-size 26px
      margin-right marginPrimary
    .stat-right
      text-align left
      .stat-number
        font-size 16px
        font-weight bold
        margin 0
      .stat-title
        margin 0
    @media (min-width screenSmall)
      .stat-icon
        font-size 38px

      .stat-right .stat-number
        font-size 20px
  .achievements-row
    .achievement-cell
      padding 16px
      background white
      border 1px solid alpha(black, 0.06)
      text-align center
      @media (min-width screenSmall)
        padding 32px
      img
        width: 80%;
