/* HELPERS */
@media (min-width: 992px) {
  .col-fix-right {
    padding-left: 1px;
  }
}

@media (min-width: 992px) {
  .col-fix-middle {
    padding-left: 1px;
    padding-right: 1px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-input-div-with-tag {
  padding: 7px 3px !important;
  height: 36px !important;
}

.text-input-div {
  padding: 0px !important;
  height: 36px !important;
}

.no-border-input {
  border: none !important;
  box-shadow: none !important;
}

.flat-button {
  background: none;
  border: 0px;
  padding: 0px 16px;
  height: 48px;
  font-weight: bold;
}

.flat-button-small {
  background: none;
  border: 0px;
}

.hidden {
  visibility: hidden;
}

.dark-overlay
  position absolute
  background-color alpha(black, 0.2)
  top 0
  height 100%
  width 100%
  left 0

.default-tag {
  padding: 2px 5px !important;
  background: #a8cfd5 !important;
  color: black;
  margin-bottom: 4px;
  font-weight: normal;
}

.delete-tag {
  vertical-align: text-top !important;
  cursor: pointer !important;
  color: gray !important;
  padding: 2px 6px 2px 2px;
}

.delete-tag:hover {
  color: crimson !important;
}

.delete-tag:active {
  color: black !important;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.inline-top {
  display: inline-block;
  vertical-align: top;
}

.link-disabled {
  opacity: 0.4 !important
  pointer-events none !important
}

.linkify {
  cursor: pointer;
  color: colorPrimary;
}

.red-link {
  color crimson !important
}

.margin-top-16
  margin-top marginPrimary !important

.margin-bottom-16
  margin-bottom marginPrimary !important

.margin-right-16
  margin-right marginPrimary !important

.margin-left-16
  margin-left marginPrimary !important

.margin-top-8
  margin-top marginSecondary !important

.margin-bottom-8
  margin-bottom marginSecondary !important

.margin-right-8
  margin-right marginSecondary !important

.margin-left-8
  margin-left marginSecondary !important

.margin-top-0
  margin-top 0 !important

.margin-bottom-0
  margin-bottom 0 !important

.no-margin {
  margin 0 !important
}
.margin-auto
  margin-left auto !important
  margin-right auto !important

.padding-bottom-0 {
  padding-bottom: 0
  !important
}

.padding-left-16 {
  padding-left: 16px;
  !important
}

.padding-right-16 {
  padding-right: 16px;
  !important
}

.relative-container {
  position: relative;
  height: 100%;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.text-color-red {
  color: #B44537;
}

.text-color-green {
  color: #58BE54;
}

.text-color-unimportant {
  color: #97A07D;
}