libraryBoxHeight = 200px
.library-boxes-container
  text-align center
  padding marginPrimary 0 0 marginPrimary
  .library-box
    text-align left
    height libraryBoxHeight
    width libraryBoxHeight
    background alpha(colorBorder, 0.10)
    border 1px solid colorBorder
    border-radius cardBorderRadius
    margin-right marginPrimary
    margin-bottom marginPrimary
    display inline-block
    vertical-align middle
    &.non-item
      font-weight 400
      text-align center
      font-size 14px
      line-height libraryBoxHeight
      a
        color black
        &:hover
          text-decoration none
    .card.square
      margin 0 !important