/* SECTIONS */

.page-tabs.tabbable-panel
  .nav-tabs
    background transparent
    font-size 22px
    li
      margin-bottom -3px
      margin-right marginPrimary + marginSecondary
      a
        color alpha(colorText, 0.9) !important
        padding-left 0
        padding-right 0
      &:hover
        a
          border-bottom 1px solid alpha(colorPrimary, 0.9) !important
          padding-bottom 7px
      &.active
        a
          color colorPrimary !important
          border-bottom 1px solid colorPrimary !important