/*
 * Take Test
 */
.take-test.card
  padding-bottom 8px
  margin-bottom marginPrimary
  .title
    color colorSecondary
    margin-top 0
    margin-bottom marginSecondary
    font-weight 400
  .category-and-module-tags-container
    text-align left
  .question-progress-container
    position relative
    width calc(100% + 32px)
    height 8px
    margin-left -(marginPrimary)
    border-radius 2px
    background colorBorder
    border-top 1px solid darken(colorBorder, 4)
    .question-progress
      position absolute
      backgroundGradient(0)
      float left
      width 0
      height 100%
      transition width 0.5s
  .question-stem-and-option-container
    min-height 338px
    width 100%
    .question-stem-container
      width 100%
      min-height 66px
      .question-counter
        font-weight: 400;
        font-size: 20px;
        border-radius: 50%;
        border: 1px solid colorSecondary;
        color: colorSecondary;
        height: 32px;
        width: 32px;
        line-height: 30px;
        text-align: center;
        margin-right: marginPrimary
      .question-stem
        font-weight 400
        font-size 20px
        width calc(100% - 52px)
    .options-container
      .option
        font-size: 16px;
        padding: marginSecondary marginPrimary !important
        cursor: pointer;
        margin: 0 marginPrimary marginSecondary marginPrimary;
        width: calc(100% - 32px);
        .option-label
          font-weight: 400;
          font-size: 14px;
          border-radius: 50%;
          background-color colorGreen
          color: whitesmoke;
          height: 24px;
          width: 24px;
          line-height: 24px;
          text-align: center;
          margin-right: marginPrimary
        .phrase
          width calc(100% - 44px)
        &.is-selected
          background-color: colorBorder;
          border 1px solid colorDarkBackground
        &:hover
          background-color colorBackground
        &:active
          background-color: darken(colorBackground, 2)
    &.has-image
      width calc(100% - 220px)
  .image-container
    width 212px
    text-align center
    padding marginPrimary
    .image
      width 100%
      max-height 400px
      cursor pointer
  .question-navigation-container
    position relative
    .next-question
      float right
      @media (min-width screenSmall)
        float none
    .finish-test-button-container
      text-align center
      button
        margin-top marginPrimary
      @media (min-width screenSmall)
        text-align right
        button
          margin-top inherit
    .navigation-counter
      position absolute
      width 100px
      left calc(50% - 50px)
      height 50px
      top calc(50% - 58px)
      line-height 50px
      text-align center
      @media (min-width screenSmall)
        top calc(50% - 25px)

.author-info-card
  padding 0
  margin-bottom marginPrimary
  .panel-body
    padding 0
    padding-top marginPrimary
  .full-hr
    width 100%
    margin-left 0 !important
  .author-stats-container
    width 100%
    .author-stats
      width calc(50% - 4px)
      text-align center
      &.border-left
        border-left 1px solid colorBorder
      .icon-container
        width 35%
        .icon
          color colorPrimary
          font-size 26px
      .stat-container
        text-align left
        .stat-label
          font-size 14px
          color lighten(colorText, 4)
          margin-bottom 4px
        .stat
          font-size 14px
          font-weight bold
  &.modal-type
    background-color colorBackground
    padding marginSecondary marginPrimary
    border-top 1px solid colorBorder
    border-bottom 1px solid colorBorder
    .profile-image-container
      vertical-align middle !important
      .profile-image
        width 30px
        height 30px
    .middle-section
      width calc(100% - 172px)

.test-info-page
  .card
    margin-top 46px
    max-width 600px
    padding 56px 0 marginSecondary 0

.test-info-base
  .test-author-image
    position absolute
    top -50px
    left calc(50% - 50px)
    height 100px
    width 100px
    border 1px solid colorSecondary
    border-radius 50%
    .profile-picture
      height 98px
      width 98px
    img
      margin marginPrimary
      height calc(100% - 32px)
    .gloss-overlay
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      z-index 3
      border-radius 50%
      background: rgba(255, 255, 255, glossOverlayOpacity);
      background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, glossOverlayOpacity) 0%, rgba(255, 255, 255, glossOverlayOpacityLight) 50%, glossRightColor 50%, glossRightColor 71%, glossRightColor 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, glossOverlayOpacity)), color-stop(50%, rgba(255, 255, 255, glossOverlayOpacityLight)), color-stop(50%, glossRightColor), color-stop(71%, glossRightColor), color-stop(100%, glossRightColor));
      background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, glossOverlayOpacity) 0%, rgba(255, 255, 255, glossOverlayOpacityLight) 50%, glossRightColor 50%, glossRightColor 71%, glossRightColor 100%);
      background: -o-linear-gradient(-45deg, rgba(255, 255, 255, glossOverlayOpacity) 0%, rgba(255, 255, 255, glossOverlayOpacityLight) 50%, glossRightColor 50%, glossRightColor 71%, glossRightColor 100%);
      background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, glossOverlayOpacity) 0%, rgba(255, 255, 255, glossOverlayOpacityLight) 50%, glossRightColor 50%, glossRightColor 71%, glossRightColor 100%);
  .modal-title
    color colorSecondary !important
    font-size 26px
  .by-label
    color lighten(colorText, 30)
  .test-stats-container
    width 100%
    border-bottom 1px solid colorBorder
    margin-top -(marginPrimary)
    margin-bottom marginPrimary
    .stat-container
      width: 32%;
      text-align: center;
      padding marginPrimary
      &.border-left
        border-left 1px solid colorBorder
      span
        font-weight bold
    .gauge-box
      margin-top -4px
  .description
    font-weight 400
    font-size 14px

