<div class="navbar-form navbar-left sb-search" id="sb-search">
    {{autocomplete-field
    classNames='sb-search-input'
    parentController=this
    key='title'
    placeholder="Enter your search term..."
    value=searchInput
    data=searchData.groups
    totalCount=searchData.totalRecords
    itemAction='searchItemClicked'
    isGrouped=true
    }}
    <div class="sb-icon-search inline-block">{{svg-icon icon='search' height=28 width=28}}</div>
</div>