<i class="icon glyphicon {{unbound view.iconType}}"></i>
<a class="close-notification" {{action "close" target="view"}}>
    <i class="icon-remove glyphicon glyphicon-remove-sign"></i>
</a>
<strong>
    {{view.content.title}}
</strong>
<p>
    {{view.content.message}}
</p>