<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">Here are some suggested users for you, on MyCQs</h4>
</div>
<div class="modal-body">
    <div class="container-fluid facebook-friends-modal">
        {{#if shouldShowFollowAllSuggestedFollowing}}
            <div class='row'>
                <div class='col-md-12 text-center'>
                    <button class='btn btn-facebook text-center' {{action 'followAllSuggestedFollowing'}}>
                        <i class='fa fa-facebook margin-right-16'></i>Follow all users
                    </button>
                </div>
            </div>
        {{else}}
            {{#if suggestFollowingAll.length}}
                <div class='row'>
                    <div class='col-md-12 text-center'>
                        <button class='btn btn-facebook text-center' disabled="disabled">
                            <i class='fa fa-user margin-right-16'></i>Following all suggested users
                        </button>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <div class='row'>
            <div class='col-md-12 margin-bottom-16'>
                {{#each user in suggestedFollowingAll itemController='user.item.user'}}
                    {{partial 'user/item/user'}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
</div>