.color {
    main: #4f6640;
    light: #FAF7F9;
    dark: #2C3E1D;
    unimportant: #B0C0A4;
    complimentary: #B44537;
    complimentary-two: #B04E42;
    main-accent: #58BE54;
    unimportant-two: #97A07D;
}
