<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">Change Password</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="oldPassword" class="col-sm-6 control-label">Old password</label>
            <div class="col-sm-6">
                {{input type="password" class="form-control" id="oldPassword" placeholder="Type your current password"
                value=changePassword.oldPassword}}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="newPassword" class="col-sm-6 control-label">New password</label>
            <div class="col-sm-6">
                {{input type="password" class="form-control" id="newPassword" placeholder="Type your new password"
                value=changePassword.newPassword}}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="comfirmPassword" class="col-sm-6 control-label">Retype the new password</label>
            <div class="col-sm-6">
                {{input type="password" class="form-control" id="comfirmPassword"
                placeholder="Make sure you remember it"
                value=changePassword.confirmPassword}}
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="container-fluid margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                <button type="button" class="btn btn-default" data-dissmiss="modal">
                    Cancel
                </button>
                {{async-button default="Save changes" class="btn btn-primary" action='changePassword'
                pending="Checking..." reset=true rejected="Error!"}}
            </article>
        </section>
    </div>
</div>