<div class="modal-header">
    <h4 class="modal-title">Register</h4>
</div>
<div class="modal-body">
    <div class="container-fluid text-center">
        {{partial 'application/join'}}
    </div>
</div> <!-- /modal-body -->