<article class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <div class="study-intensity-levels-container">
        <h4 class="text-center margin-top-0">Select your study intensity</h4>
        {{#each studyIntensityLevels as |intensity|}}
            <section {{bind-attr class=":row :intensity-row intensity.isSelected"}}
            {{action 'selectStudyIntensity' intensity}}>
                <article class="col-xs-4">
                    <h4 class="intensity-label margin-right-16">
                        {{intensity.label}}
                    </h4>
                </article>
                <article class="col-xs-8">
                    <h4 class="intensity-description small">
                        {{intensity.description}}
                    </h4>
                </article>
            </section>
        {{/each}}
        <p class="margin-top-16">
            We figure out what topics you are weak in, and generate quizzes for you based
            on your study intensity level. The higher the intensity, the harder the quizzes,
            and the more often you'll receive them.
        </p>
    </div>

</article>