<article class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="text-center">
        <iframe src="https://player.vimeo.com/video/134749574?color=ff0179&title=0&byline=0&portrait=0" width="250"
                height="140"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a
                href="https://vimeo.com/134749574" target="_blank">Spaced Repetition</a> from Synap</p>
    </div>
    <div class="form-group">
        <article class="col-sm-9">
            <h5 class="control-label">Activate 'Spaced Practice'<br>
                <small>Watch the video above and then tap the toggle on your right.</small>
            </h5>
        </article>

        <div class="col-sm-3">
            <div class="togglebutton togglebutton-success">
                <label class="margin-top-16 pull-right">
                    {{input type="checkbox" checked=user.srActivated}}
                    <span class="toggle"></span>
                </label>
            </div>
        </div>
    </div>
</article>