<article class="col-xs-12 text-center margin-bottom-16">
    <iframe width="480" height="270" src="https://www.youtube.com/embed/pia1tog0oiY"
            frameborder="0" allowfullscreen id="welcomeVideo"></iframe>
</article>

<h4 class="text-center">
    Click continue to begin optimising your learning!
</h4>