<div class="card author-info">
    <h4>Author info</h4>
    {{#link-to 'user' author.slug}}{{render 'profile-image' author}}{{/link-to}}
    {{#link-to 'user' author.slug}}<p class="name">{{author.name}}</p>{{/link-to}}
    <hr>
    <p>Tests
        <small class="pull-right">{{#link-to 'user.tests' author.slug}}
            {{author.numberOfTests}}{{/link-to}}</small>
    </p>
    <p>Followers
        <small class="pull-right">{{#link-to 'user.followers' author.slug}}
            {{author.numberOfFollowers}}{{/link-to}}</small>
    </p>
</div>