{{#each friend in content}}
    {{partial 'user/item/facebook-friend'}}
{{/each}}

{{#if isCurrentUser}}
    <div class="card margin-top-16">
        All Facebook friends on MyCQs!
    </div>
    {{#each friend in facebookFriendsOnMyCQs}}
        {{partial 'user/item/facebook-friend'}}
    {{/each}}
{{/if}}
