{{#each user in following itemController='user.item.user'}}
    {{partial 'user/item/user'}}
{{/each}}

{{#if isCurrentUser}}
    <div class="card margin-top-16 text-center">
        <p>Why not follow your Facebook friends on MyCQs</p>
    </div>
    {{#each user in facebookFriendsOnMyCQs itemController='user.item.user'}}
        {{partial 'user/item/user'}}
    {{/each}}
{{/if}}
