{{#each user in followers itemController='user.item.user'}}
    {{partial 'user/item/user'}}
{{/each}}

{{#unless followers.length}}
    <div class='card margin-top-16 text-center'>
        {{#if isCurrentUser}}
            <h5>You have no followers yet.</h5>
        {{else}}
            <h5>{{name}} is does not have followers yet.</h5>
        {{/if}}
    </div>
{{/unless}}