{{#each user in following itemController='user.item.user'}}
    {{partial 'user/item/user'}}
{{/each}}

{{#unless following.length}}
    <div class='card margin-top-16 text-center'>
        {{#if isCurrentUser}}
            <h5>You are not following anyone.</h5>
        {{else}}
            <h5>{{name}} is not following anyone.</h5>
        {{/if}}
    </div>
{{/unless}}