{{#each content itemController='user/item/test'}}
    {{partial "user/item/test-card"}}
{{/each}}

{{#unless content.length}}
    <div class='card margin-top-16 text-center'>
        {{#if isCurrentUser}}
            <h5>You have not created any tests. {{#link-to 'create'}}Create one now!{{/link-to}}</h5>
        {{else}}
            <h5>{{user.name}} has not created any tests yet.</h5>
        {{/if}}
    </div>
{{/unless}}