<div class="modal-body synap-modal">
    <div class="container-fluid">
        <section class="row">
            <article class="col-xs-12">
                <h4 class="modal-title text-center margin-bottom-0">{{model.title}}</h4>
                <h5 class="by-label text-center margin-top-16 margin-bottom-16">Share Quiz!</h5>
            </article>
        </section>
    </div>

    <div class="container-fluid">
        <section class="row">
            <article class="col-xs-8 col-xs-push-2 text-center">
                {{twitter-share url=model.webUrl text=shareText class="inline-block"
                via="synap" related="synap,omairvaiyani,gupta_james"}}

                {{linkedin-share url=model.webUrl class="inline-block margin-left-16"}}
            </article>
        </section>
    </div>

    <div class="close-modal" data-dismiss="modal">
        <span class="icon">&#10005;</span>
    </div>
</div>