<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">{{#link-to 'testInfo' slug}}{{title}}{{/link-to}}</h4>
</div>
<div class="modal-body">
    {{partial 'test/test-info-base'}}
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <section class="row">
            <article class="col-xs-12">
                {{#if currentUser}}
                    {{#if currentUser.isMobileUser}}
                        <button type="button" class="btn btn-info pull-left"
                            {{action 'sendPush' this 'toMobile' this.model}}><span
                                class="glyphicon glyphicon-phone"></span> {{sendToMobileButtonText}}
                        </button>
                    {{/if}}
                {{/if}}
                {{#link-to 'test' slug tagName='a' classNames="btn btn-primary margin-bottom-16"}}Take test{{/link-to}}
            </article>
        </section>
    </div>
</div>