<div class="modal-body synap-modal top-image">
    <div class="modal-image">
        <img src="img/icon-gradient-1024.png"/>
    </div>

    {{partial 'test/test-info-base'}}

    {{#if showSendToMobile}}
        {{!-- TODO adapt controller code, update cloud code, adjust style--}}
        <button type="button" class="btn btn-info pull-left"
            {{action 'sendPush' this 'toMobile' model}}><span
                class="glyphicon glyphicon-phone"></span> {{sendToMobileButtonText}}
        </button>
    {{/if}}

    {{#link-to 'test' model.slug class="btn btn-info action-button" tagName="button"}}
        Take Quiz
    {{/link-to}}

    <div class="close-modal" data-dismiss="modal">
        <span class="icon">&#10005;</span>
    </div>
</div>