<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">{{modal.title}}</h4>
</div>
<div class="modal-body">
    <p>{{modal.message}}</p>
    <p>{{modal.suggestions}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Go back</button>
    {{#unless modal.error}}
        <button type="button" class="btn btn-primary" {{action 'markTest'}}>Mark test</button>
    {{/unless}}
</div>