<div class="modal-body synap-modal">
    <div class="container-fluid">
        <section class="row">
            <article class="col-xs-12">
                <h4 class="modal-title text-center margin-bottom-0">End of Quiz</h4>
            </article>
        </section>

        <section class="row">
            <article class="col-xs-12">
                <p class="message">{{finishTestAlertMessage}}</p>
            </article>
        </section>
    </div>

    <button class="btn btn-info action-button" {{action 'markTest'}}>
        Mark Test
    </button>

    <div class="close-modal" data-dismiss="modal">
        <span class="icon">&#10005;</span>
    </div>
</div>