<div class="container">
    <section class="row">
        <article class="col-md-8 col-md-offset-2">
            <div class="card margin-bottom-16">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Create a new group</h3>
                    </div>
                </div>
                {{partial "group/edit"}}
                <div class="row margin-top-16">
                    <div class="col-md-6">
                        {{async-button class="btn btn-primary" action='saveChanges' default='Create Group'
                        pending='Creating...' fulfilled='Group created!' rejected='Error! Try again.' reset=true}}
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
