<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">{{name}} members ({{members.length}})</h4>
</div>
<div class="modal-body grey-body">
    <div class="container-fluid margin-top-16">
        {{#with hasModeratorAccess as hasModeratorAccess}}
            {{#each member in members itemController='user.item.user'}}
                {{render 'group/item/member' member}}
            {{/each}}
        {{/with}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" {{action 'closeModal'}}>Close</button>
</div>

