<div class="tab-pane active margin-top-16" id="tab_contact">
    <div class="container-fluid contact-us">
        <section class="row">
            <article class="col-md-12">
                {{google-map
                lat=lat lng=lng type=type zoom=zoom markers=markers
                infoWindows=infoWindows infoWindowTemplateName='about/contact/marker-info'
                gopt_mapTypeControl=trye gopt_backgroundColor='transparent'
                }}
            </article>
        </section>
    </div>
    <div class="container margin-bottom-16">
        <section class="row">
            <article class="col-md-4">
                <h2 class="lead">Contact us</h2>

                <div class="card">
                    <address>
                        <strong>Synap</strong><br>
                        InTechnology Enterprise Incubation Program<br>
                        Leeds Innovation Centre<br>
                        Suite 11b<br>
                        103 Clarendon Road<br>
                        Leeds<br>
                        LS2 9DF<br>
                        <a href="mailto:#">support@synap.com</a>
                    </address>
                </div>
            </article>
            <article class="col-md-8 col-fix-right">
                <h2 class="lead">Looking for help?</h2>

                <p>Please click the support icon on the bottom right of your screen to start a conversation with our
                    team.</p>
            </article>
        </section>
    </div>
</div>