<div class="tab-pane active" id="tab_how_it_works">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>Your brain has a virtually limitless potential to learn new things - so why do we seem to forget so much
                of what we’ve read just hours or days ago, and why is studying so stressful?</p>

                <p>Research shows that we forget a staggering 40% of what we’ve learnt after just 20 minutes, and this
                increases to 80% after just one week.
                (http://willthalheimer.typepad.com/files/how-much-do-people-forget-v12-14-2010-2.pdf).</p>

                <p>Fascinating research into how the brain works, and specifically how memories are strengthened and
                reinforced, shows how we can dramatically improve the way we learn with techniques such as Active
                Elaboration, Spaced Repetition and Interleaved Practice. Unfortunately, these techniques have not found
                their way into mainstream education practice, and are largely unknown by both teachers and students.</p>

                <p>Synap changes this by incorporating these advanced techniques into a fun and intuitive platform,
                allowing students, professionals and hobbyists to learn more in less time. Our award winning mobile app
                and website lets you create your own Multiple Choice Quizzes (MCQs) with ease, practice them at any
                time, and share them with your friends and colleagues.</p>
            </div>
        </div>
    </div>
</div>