<section class="row" style="color: rgb(75, 113, 39);">
    <article class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center margin-bottom-16">
        <h2><img src="img/header.png" height="80px"/></h2>
        <p class="margin-bottom-8">
            Whether you’re at school, university or work, studying for exams can be a time-consuming, repetitive and
            socially isolating process. 
        </p>
        <p>
            MyCQs is a free online platform that aims to change this. Instead of spending hours reading through a
            textbook over and over again hoping that something will stick, we encourage people to really test their
            knowledge by creating their own Multiple Choice Question (MCQ) tests!

        </p>
    </article>
</section>

<section class="row" style="background-color: #FFE5A8;color: rgb(181, 68, 34);">
    <article class="col-sm-6 text-center margin-bottom-16 col-sm-push-6">
        <h3>Create MCQ Tests</h3>
        <p>
            This is an extremely effective tactic, as it forces you to read through your course material in an
            active and critical manner, bringing any underlying gaps in your understanding to the surface, and leaving
            you with a challenging set of questions you can use to revise any time!
        </p>
    </article>
    <article class="col-sm-6 col-sm-pull-6 text-center">
        <img src="img/create-features.png" style="max-width:100%;width:200px;margin:16px;"/>
    </article>
</section>

<section class="row" style="background-color: #EFEFEF;color: rgb(11, 53, 172);">
    <article class="col-sm-6 text-center">
        <h3>Practice</h3>
        <p>
            With our website and mobile app, you can practice your questions anytime, anywhere. This could be part of an
            extended studying session one evening, or just when you have a few minutes waiting for the bus! By going
            over your questions regularly, you’ll help consolidate that knowledge into your long term memory!
        </p>
    </article>
    <article class="col-sm-6 text-center">
        <img src="img/practice-features.png" style="max-width:100%;width:200px;margin:16px;"/>
    </article>
</section>


<section class="row" style="background-color: #92DEEB;color: rgb(25, 28, 32);">
    <article class="col-sm-6 col-sm-push-6 margin-bottom-16 text-center">
        <h3>Share</h3>
        <p>
            And finally, MyCQs encourages you to share your tests with other people! This could be just your friends and
            course mates, or people from across the world studying a similar course to you! We have over 200,000
            questions all created by people just like you, and some of these have been taken by thousands of different
            people! Sharing tests adds a social element into studying, and lets you compare how you’re doing against
            other people. 
        </p>
    </article>
    <article class="col-sm-6 col-sm-pull-6 text-center">
        <img src="img/share-features.png" style="max-width:100%;width:200px;margin:16px;"/>
    </article>
</section>

<section class="row" style="background-color: #EFEFEF;color: rgb(11, 53, 172);">
    <article class="col-sm-6 text-center">
        <h3>Academic</h3>
        <p>
            MyCQs is being used by a whole range of people such as medical students and junior doctors, accountants,
            airline pilots and school students!
        </p>
    </article>
    <article class="col-sm-6 text-center">
        <img src="img/academic-features.png" style="max-width:100%;width:200px;margin:16px;"/>
    </article>
</section>

<section class="row">
    <article class="col-xs-12 text-center margin-top-16">
        {{#link-to 'join' tagName='button' class="btn btn-success btn-lg"}}GET STARTED{{/link-to}}
    </article>
    <article class="col-sm-12 text-center margin-top-16 margin-bottom-16">
                <span>Already have an account? <span class="linkify"
                    {{action 'openModal' 'application/modal/login-or-register' 'application'}}>Login!</span></span>
    </article>
</section>