<div class="tab-pane active" id="tab_jobs">
    <div class="container-fluid">
        <section class="row">
            <h3>Work with us!</h3>
            <article class="col-md-8-offset-2">
                <p>We're looking for talented and
                    enthusiastic people to join our team
                    and help to make Synap the best online
                    education platform in the world! In
                    particular, we've looking to fill
                    the roles below, can you help?</p>
                <hr/>

                <h4>Graphic Designers</h4>
                <p>We're looking for an awesome designer to develop Synap's brand identity with printed media,
                    merchandise as well as online graphics and icons. </p>
                <br/>
                <h4>Blog Writers</h4>
                <p>The <a href="http://synap.ac/blog" target="_blank">Synap Blog</a> features articles on a range of
                    topics including education, psyschology, technology and startups. If you have an interest in any
                    of those fields and would like to research and write some articles for us, get in touch! </p>
                <br/>
                <h4>Student Ambassadors</h4>
                <p>Could you promote the Synap brand at your university? In the next few months we'll be running a
                    huge marketing campaign to launch Synap into the spotlight - our Student Ambassadors will be a
                    key part in this, helping to spread awareness at specific universities and organising events.</p>

                <br/>
                <span align="center"><a href="mailto:jobs@synap.ac">jobs@synap.ac</a></span>
            </article>


        </section>

    </div>
</div>