<div class="col-xs-12">
    <h2 class="text-center">The MyCQs Team</h2>
</div>
<div class="row">
    <div class="col-sm-3 col-sm-push-3 margin-bottom-16">
        <article class="about-profile">
            <div style="background:url('img/james-small.jpg');" class="img-responsive"></div>
            <div class="member-info text-center color4">
                <h3>{{#link-to 'user' 'jgupta'}}James Gupta{{/link-to}}</h3>

                <p><strong>Founder</strong> and Chief Executive Officer</p>
            </div>
            <div class="member-social text-center">
                <a href="mailto:james@mycqs.com">james@mycqs.com</a>
                <ul>
                    <li><a href="https://www.twitter.com/gupta_james" target="_blank"
                           title="Follow James on Twitter"><i
                            class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/jamesgupta" target="_blank"
                           title="Connect with James on Linkedin"><i
                            class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </article>
    </div>
    <div class="col-sm-3 col-sm-push-3 margin-bottom-16">
        <article class="about-profile">
            <div style="background:url('img/omair-small.jpg');" class="img-responsive"></div>
            <div class="member-info text-center color4">
                <h3>{{#link-to 'user' 'ovaiyani'}}Omair Vaiyani{{/link-to}}</h3>

                <p><strong>Founder</strong> and Chief Technical Officer</p>
            </div>
            <div class="member-social text-center">
                <a href="mailto:omair@mycqs.com">omair@mycqs.com</a>
                <ul>
                    <li><a href="https://www.twitter.com/omairvaiyani" target="_blank"
                           title="Follow Omair on Twitter"><i
                            class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/omairvaiyani" target="_blank"
                           title="Connect with Omair on Linkedin"><i
                            class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </article>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <article class="about-profile">
            <div style="background:url('img/stuart-small.jpg');" class="img-responsive"></div>
            <div class="member-info text-center color4">
                <h3>{{#link-to 'user' 'sclarke'}}Stuart Clarke{{/link-to}}</h3>

                <p>Chief Operating Officer</p>
            </div>
            <div class="member-social text-center">
                <a href="mailto:stuart@mycqs.com">stuart@mycqs.com</a>
                <ul>
                    <li><a href="https://www.twitter.com/stuartclarkeuk" target="_blank"
                           title="Follow Stuart on Twitter"><i
                            class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/profile/view?id=3685920" target="_blank"
                           title="Connect with Stuart on Linkedin"><i
                            class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </article>
    </div>
    <div class="col-sm-3">
        <article class="about-profile">
            <div style="background:url('img/jason-gaved.jpg');" class="img-responsive"></div>
            <div class="member-info text-center color4">
                <h3>{{#link-to 'user' 'jgaved'}}Jason Gaved{{/link-to}}</h3>

                <p>Head of Technology</p>
            </div>
            <div class="member-social text-center">
                <a href="mailto:jason@mycqs.com">jason@mycqs.com</a>
                <ul>
                    <li><a href="https://www.twitter.com/jasongaved" target="_blank"
                           title="Follow Jason on Twitter"><i
                            class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/profile/view?id=30703261" target="_blank"
                           title="Connect with Jason on Linkedin"><i
                            class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </article>
    </div>
    <div class="col-sm-3">
        <article class="about-profile">
            <div style="background:url('img/oscar-price.jpg');" class="img-responsive"></div>
            <div class="member-info text-center color4">
                <h3>{{#link-to 'user' 'oprice'}}Oscar Price{{/link-to}}</h3>

                <p>Public Relations and Marketing</p>
            </div>
            <div class="member-social text-center">
                <a href="mailto:jason@mycqs.com" class="margin-bottom-16">oscar@mycqs.com</a>
            </div>
        </article>
    </div>
</div>