<section class="row">

    <article class="col-xs-12">
        <h3 class="margin-top-8 margin-bottom-8">
            <strong>
                Friends Activity
            </strong>
        </h3>
        {{#if fetchingActivity}}
            <section class="row">
                <article class="col-xs-12 text-center">
                    {{loading-bar isLoading=true class="loading-bar"}}
                </article>
            </section>
        {{/if}}

        {{#each model.activities as |activity|}}
            {{activity-card activity=activity parentController=this}}
        {{/each}}

    </article>

</section>