<section class="row">

    <article class="col-xs-12">
        <h3 class="margin-top-8 margin-bottom-8">
            <strong>
                Recommendations
            </strong>
        </h3>
        {{#if fetchingHomeItems}}
            <section class="row">
                <article class="col-xs-12 text-center">
                    {{loading-bar isLoading=true class="loading-bar"}}
                </article>
            </section>
        {{/if}}

        {{#each recommendedTestsForUser as |test|}}
            {{test-card test=test parentController=this}}
        {{/each}}

    </article>

</section>