<li class="activity-notifications dropdown">
    <a data-toggle="dropdown">
        {{#if currentUser.totalUnseenNotifications}}
            <span class="badge notification-counter pull-right">{{currentUser.totalUnseenNotifications}}</span>
        {{/if}}
        <span class="fa fa-fw fa-bell"></span>
    </a>
    <div class="activity-notifications-dropdown dropdown-menu" role="menu">
        <div class="top-controls"></div>
        <hr class="full-hr"/>
        <div class="notifications-container parent-no-scroll">
            {{#each currentUser.notifications as |notification|}}
                {{activity-notification activity=notification parentController=this}}
                <hr class="full-hr"/>
            {{/each}}
            {{#unless currentUser.notifications.length}}
                <p class="no-message">You have no messages.</p>
            {{/unless}}
        </div>
    </div>
</li>

<li class='account-info-container'>
    <a class='navbar-right-adjust' id="accountDropdown" data-toggle="dropdown">
        {{profile-picture user=currentUser height=30 width=30 doNotLink=true}}
    </a>

    <ul class="account-dropdown dropdown-menu" role="menu" aria-labelledby="accountDropdown">
        {{#link-to 'index.user' currentUser.slug tagName='li'}}
            {{#link-to 'index.user' currentUser.slug role="menuitem" tabindex="0"}}
                <i class="fa fa-fw fa-user margin-right-8"></i>
                Profile
            {{/link-to}}
        {{/link-to}}
        {{#link-to 'index.progress' tagName='li'}}
            {{#link-to 'index.progress' role="menuitem" tabindex="1"}}
                <i class="fa fa-fw fa-trophy margin-right-8"></i>
                Achievements
            {{/link-to}}
        {{/link-to}}
        {{#link-to 'index.progress' tagName='li'}}
            {{#link-to 'index.progress' role="menuitem" tabindex="2"}}
                <i class="fa fa-fw fa-pie-chart margin-right-8"></i>
                Stats
            {{/link-to}}
        {{/link-to}}
        <li role="separator" class="divider"></li>
        {{#link-to 'settings.index' tagName='li'}}
            {{#link-to 'settings.index' role="menuitem" tabindex="3"}}
                <i class="fa fa-fw fa-cog margin-right-8"></i>
                Settings
            {{/link-to}}
        {{/link-to}}
        <li>
            <a role="menuitem" tabindex="4" href="http://support.synap.ac" target="_blank">
                <i class="fa fa-fw fa-info-circle margin-right-8"></i>
                Help
            </a>
        </li>
        <li>
            <a role="menuitem" tabindex="5" {{action 'logout'}}>
                <i class="fa fa-fw fa-sign-out margin-right-8"></i>
                Logout
            </a>
        </li>
    </ul>
</li>