<li>
    {{#link-to 'user' currentUser.slug tagName='a' classNames='navbar-right-adjust'}}
        <img class='profile-thumbnail' {{bind-attr src=currentUser.profileImageURL}} />

        <div>{{currentUser.firstName}}</div>
    {{/link-to}}
</li>
<li>
    <a id="accountDropdown"
       data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="accountDropdown">
        <li role="presentation">
            {{#link-to 'settings.index' role="menuitem" tabindex="-1"}}
                Settings
            {{/link-to}}
        </li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
            {{action 'logout'}}>Logout</a>
        </li>
    </ul>
</li>