<section class="row">
    <article class="col-md-4">

    </article>
    <article class="col-md-8">
        {{#each myTests as |test|}}
            {{test.title}} <br>
        {{/each}}
    </article>
</section>