<div {{bind-attr class=":footer footerHidden:hidden"}}>
    <div class="container">
        <div class="icon-overlay"></div>
        <section class="row">

            <article class="col-xs-4 col-sm-2">
                {{#link-to 'index'}}<img src="img/logo-square-white.png" class="footer-logo"/>{{/link-to}}
            </article>

            <article class="col-xs-8 col-sm-4">
                <h5><strong>Synap</strong></h5>

                <p class="no-margin">InTechnology Enterprise Incubation Program</p>

                <p class="no-margin">Leeds Innovation Center</p>

                <p class="no-margin">Suite 11b, 103 Clarendon Road</p>

                <p class="no-margin">Leeds, LS2 9DF</p>
                <br>

                <p>© Synap</p>
            </article>

            <article class="col-sm-6">
                <h5><strong>Quick Links</strong></h5>
                <section class="row footer-links">
                    <article class="col-xs-3">
                        <h6 class="top-link">{{#link-to 'index'}}Home{{/link-to}}</h6>
                        {{#if betaUnlocked}}
                            <h6>{{#link-to 'browse'}}Browse{{/link-to}}</h6>
                            <h6>{{#link-to 'create'}}Create{{/link-to}}</h6>
                        {{/if}}
                        <h6>{{#link-to 'about.team'}}Team{{/link-to}}</h6>
                    </article>
                    <article class="col-xs-3">
                        <h6 class="top-link"><a href="http://synap.ac/blog" target="_blank">Blog</a></h6>
                        <h6>{{#link-to 'contact'}}Contact us{{/link-to}}</h6>
                        <h6>{{#link-to 'presskit'}}Press{{/link-to}}</h6>
                    </article>
                    <article class="col-xs-4">
                        <h6 class="top-link">{{#link-to 'privacyPolicy'}}Privacy{{/link-to}}</h6>
                        <h6>{{#link-to 'terms'}}Terms & Conditions{{/link-to}}</h6>
                    </article>
                </section>
            </article>
        </section>
        <hr>
        <section class="row">
            <article class="col-sm-6">
                <h4 class="inline-block footer-social">Join Us On
                    <a href="https://twitter.com/synap" target="_blank">
                        <i class="fa fa-fw fa-twitter margin-left-8 margin-right-8"></i>
                    </a>
                    <a href="https://facebook.com/trysynap" target="_blank">
                        <i class="fa fa-fw fa-facebook margin-right-8"></i>
                    </a>
                </h4>
            </article>
            <article class="col-sm-6">
                <h5 class="pull-right small">Synap Beta v0.41</h5>
            </article>
        </section>
    </div>
</div>