<div class="footer">
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-3 text-center margin-bottom-16">
            </div>
            <div class="col-md-6 sitemap text-center margin-bottom-16">
                <section class="row">
                    <article class="col-md-12">
                        {{#link-to 'index' tagName='a'}}Home{{/link-to}}
                        {{#link-to 'browse' tagName='a'}}Browse{{/link-to}}
                        {{#link-to 'create' tagName='a'}}Create{{/link-to}}
                        {{#link-to 'about' tagName='a'}}About{{/link-to}}
                        {{!--
                        {{#link-to 'features' tagName='a'}}Features{{/link-to}}
                        --}}
                        <a href='http://blog.mycqs.com' target="_blank">Blog</a>
                    </article>
                </section>
                <section class="row">
                    <article class="col-md-12">
                        {{#link-to 'support' tagName='a'}}Support{{/link-to}}
                        {{#link-to 'contact' tagName='a'}}Contact us{{/link-to}}
                        {{#link-to 'presskit' tagName='a'}}Press{{/link-to}}
                        {{#link-to 'privacyPolicy' tagName='a'}}Privacy Policy{{/link-to}}
                        {{#link-to 'terms' tagName='a'}}Terms & Conditions{{/link-to}}
                    </article>
                </section>
            </div>
            <div class="col-md-3 text-center">

            </div>
        </section>
        <section class="row">
            <article class="col-md-4">
                <a href="mailto:support@synap.ac" target="_blank" class="email-link">support@synap.ac</a>
            </article>
            <article class="col-md-4">
                {{#link-to 'index' tagName='a' class='watermark'}}
                    <img src="img/logo-white.png" height="30px" class="logo-icon inline-block"/>
                {{/link-to}}
                <p class="copyright-mark">
                    Copyright 2015 by <a href='http://mylabs.io' target="_blank">MyLabs Ltd</a>
                </p>
            </article>
            <article class="col-md-4">
                <div class='social'>
                    <a href='https://facebook.com/mycqs' target='_blank'><i class="fa fa-facebook"></i></a>
                    <a href='https://twitter.com/mycqs' target='_blank'><i class="fa fa-twitter"></i></a>
                </div>
            </article>
        </section>
    </div>
</div>