<div {{bind-attr class=":footer footerHidden:hidden"}}>
    <div class="container">
        <div class="icon-overlay"></div>
        <section class="row">

            <article class="col-xs-12 col-sm-6 margin-bottom-16 footer-logo-container">
                {{#link-to 'index'}}<img src="img/logo-square-white.png" class="footer-logo"/>{{/link-to}}
            </article>

            {{!--
            <article class="col-xs-8 col-sm-4">
                <h5><strong>Synap</strong></h5>

                <p class="no-margin">InTechnology Enterprise Incubation Program</p>

                <p class="no-margin">Leeds Innovation Center</p>

                <p class="no-margin">Suite 11b, 103 Clarendon Road</p>

                <p class="no-margin">Leeds, LS2 9DF</p>
                <br>

                <p>© Synap</p>
            </article>
            --}}
            <article class="col-sm-6">
                <h5><strong>Quick Links</strong></h5>
                <section class="row footer-links">
                    <article class="col-xs-4 col-sm-3">
                        <h6 class="top-link">{{#link-to 'index'}}Home{{/link-to}}</h6>
                        {{#if betaUnlocked}}
                            <h6>{{#link-to 'browse'}}Browse{{/link-to}}</h6>
                            <h6>{{#link-to 'create'}}Create{{/link-to}}</h6>
                        {{/if}}
                        <h6>{{#link-to 'about.howItWorks'}}How It Works{{/link-to}}</h6>
                        <h6><a href="http://synap.ac/blog">Blog</a></h6>
                        <h6><a href="http://support.synap.ac/">Help</a></h6>
                    </article>
                    <article class="col-xs-4 col-sm-3">
                        <h6 class="top-link">{{#link-to 'about.team'}}Team{{/link-to}}</h6>
                        <h6>{{#link-to 'about.contact'}}Contact{{/link-to}}</h6>
                        <h6>{{#link-to 'about.press'}}Press{{/link-to}}</h6>
                    </article>
                    <article class="col-xs-4 col-sm-4">
                        <h6 class="top-link"><a href="http://synap.ac/blog/best-revision-apps/">Best Revision Apps</a></h6>
                        <h6><a href="http://synap.ac/blog/educational-apps/">Educational Apps</a></h6>
                        <h6><a href="http://synap.ac/blog/revision-app/">Revision App</a></h6>
                        <h6><a href="http://synap.ac/blog/revision-apps-for-iphone/">Revision Apps for Iphone</a></h6>
                        <h6><a href="http://synap.ac/blog/study-apps/">Study Apps</a></h6>
                    </article>
                </section>
            </article>
        </section>
        <hr>
        <section class="row">
            <article class="col-xs-8 col-sm-6">
                <h4 class="inline-block footer-social">Join Us On
                    <a href="https://twitter.com/synap" target="_blank">
                        <i class="fa fa-fw fa-twitter margin-left-8 margin-right-8"></i>
                    </a>
                    <a href="https://facebook.com/trysynap" target="_blank">
                        <i class="fa fa-fw fa-facebook margin-right-8"></i>
                    </a>
                    <a href="https://instagram.com/trysynap" target="_blank">
                        <i class="fa fa-fw fa-instagram margin-right-8"></i>
                    </a>
                </h4>
            </article>
            <article class="col-xs-4 col-sm-6 text-right">
                {{#link-to 'privacyPolicy'}}Privacy Policy{{/link-to}}
                &nbsp;&nbsp;
                {{#link-to 'terms'}}Terms & Conditions{{/link-to}}
                <h6>© Synap 2015 | Beta v0.45</h6>
            </article>
        </section>
    </div>
</div>