<div class="container">

    <div class="card margin-bottom-16">

        <h3>About MyCQs</h3>

        <p>MyCQs is a unique e-learning platform for students and professionals. We encourage people to create, practice
            and
            share Multiple Choice Question (MCQ) tests with each other as a way to quickly learn and understand new
            information.
        </p>

        <h3>Creating Tests</h3>

        <p>We all know that just reading through your course textbook can be an incredibly inefficient, not to mention
            boring
            way to learn. After a few paragraphs we can't help but switch off mentally, at which point we're just
            passively
            reading words, hoping that they will come back to us later on. Maybe if we read the same pages enough times
            it'll
            sink into our brains. Or maybe not.</p>

        <p>Writing MCQ tests is a great alternative. It forces you to read through your course material actively and
            critically
            to pick out good questions and difficult "distractor" (incorrect) options. Suddenly you're not simply
            passively
            flicking through your textbook, but are actively engaged in a process. Not only is this infinitely more
            interesting,
            it's a much more efficient way to use your time, and you're more likely to remember the key facts.</p>

        <h3>Practicing Tests</h3>

        <p>As we've said above, creating tests is an incredibly valuable process in its own right, but with MyCQs you
            can
            then
            practice the tests that you make either on your computer or on your mobile phone or tablet.</p>

        <p>This can either be done as part of a traditional 'study' period, where you set aside a specific block of time
            to
            practice tests, or even in smaller spaces of time which would otherwise be wasted. In just a few minutes you
            can
            practice tests on-the-go when you're at the bus stop, sitting through adverts or waiting for the kettle to
            boil!</p>

        <p>Spending small amounts of time to regularly revisit a test drastically increases your chances of retaining
            and
            understanding the information.</p>

        <h3>Sharing Tests</h3>

        <p>Why is learning and revising for tests still such an isolated activity in the 21st century? With MyCQs you
            can
            send
            tests you've made to your friends and other people on your course, and you have access to over 500,000
            questions
            made by our community! There are questions for everyone whether you're a medical student preparing for exams
            such as
            OSCEs or the USMLE, a special needs teacher looking for an innovative way to engage your students or a
            lawyer
            undertaking professional development modules.</p>


        <h3>How Do I Get Started?</h3>

        <p>MyCQs is freely available on the web and is coming to iOS and Android soon. You can get started writing your
            own
            tests or searching for other people's straight away! For the best results, we recommend registering for an
            account
            (also free!) so that you can save tests and measure your progress over time!</p>
    </div>
</div>