<div class="container margin-bottom-16 text-center">
    <div class="card about-us text-left">
        <div class="header-container">
            <h1>About us</h1>
        </div>
        <div class="main-body">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        {{#link-to "about.team" tagName="li"}}
                            <a href="#tab_team" data-toggle="tab">
                                The Company
                            </a>
                        {{/link-to}}
                        {{#link-to "about.howItWorks" tagName="li"}}
                            <a href="#tab_how_it_works" data-toggle="tab">
                                How it Works
                            </a>
                        {{/link-to}}
                        {{#link-to "about.jobs" tagName="li"}}
                            <a href="#tab_jobs" data-toggle="tab">
                                Jobs
                            </a>
                        {{/link-to}}
                        {{#link-to "about.contact" tagName="li"}}
                            <a href="#tab_contact" data-toggle="tab">
                                Contact Us
                            </a>
                        {{/link-to}}
                        {{#link-to "about.press" tagName="li"}}
                            <a href="#tab_press" data-toggle="tab">
                                Press
                            </a>
                        {{/link-to}}
                    </ul>
                    <div class="tab-content margin-top-16">
                        {{outlet}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>