<div class='container margin-bottom-16'>
    <section class="row">
        <article class="col-md-6 col-md-offset-3 margin-top-16 text-center">
            <div class='card'>
                {{#if model}}
                    <h2 class="text-center">Beta Activated!</h2>
                    <hr class="mini-hr">
                    {{partial 'application/join'}}

                {{else}}
                    <h2 class="text-center">Oops!</h2>
                    <hr class="mini-hr">

                    <p>{{errorMessage}}</p>
                {{/if}}
            </div>
        </article>
    </section>
</div>