<div class="mycqs-page-header">
    <div class="container">
        <h1>Browse</h1>

        <p>Select a subject and discover thousands of tests!</p>
    </div>
</div>
<div class="container">
    <div class="row category-container">
        {{#each category in content}}
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 col-fix-middle margin-bottom-16">
                <div {{bind-attr class=':item :card'}}>
                    {{#link-to 'category' category.slug}}
                        {{svg-icon icon=category.name width=100 height=100 margin='auto'}}
                    {{/link-to}}
                    <h4>
                        {{#link-to 'category' category.slug tagName='a'}}
                            {{category.name}}
                        {{/link-to}}
                    </h4>
                    <p class="subtitle">{{category.totalTests}} tests</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>