{{#if inJoinProcess}}
    {{partial 'join/join-steps'}}
{{/if}}
<div class="container margin-bottom-16">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <div class="well margin-bottom-16">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
