<div class="page-header">
    <div class="dark-overlay"></div>
    <div class="content-body">
        <h1 class="title">Create a Quiz</h1>
        <p class="subtitle">Write Multiple-Choice Questions (MCQs)</p>
    </div>
</div>
<div class="container margin-bottom-16">
    <section class="row">
        <article class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="card">
               {{partial 'edit/test-detail'}}

                {{!-- Save/Add Questions row --}}
                <section class="row">
                    <article class="col-xs-12 col-sm-6">
                        <button class="btn btn-info btn-with-icon action-button" {{action "checkTest"}} id="add-questions">
                            <span class="inline-block">Add Questions</span>
                            <span class="right-section inline-block">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </button>
                    </article>
                </section>
            </div>
        </article>
    </section>
</div>
