<div class="page-header">
    <div class="dark-overlay"></div>
    <div class="content-body">
        <h1 class="title">Create a Quiz</h1>
        <p class="subtitle">Write Multiple-Choice Questions (MCQs)</p>
    </div>
</div>
<div class="container margin-bottom-16">
    <section class="row">
        <article class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="card">
                {{partial 'edit/test-detail'}}

                {{!-- Save/Add Questions row --}}
                <section class="row">
                    <article class="col-xs-12 col-sm-6">
                        {{async-button action='checkTest' class='btn btn-info action-button'
                        default="Add Questions"
                        fulfilled="Quiz Created"
                        rejected="Error!"
                        pending="Preparing Quiz..."
                        reset=true
                        id="add-questions"}}
                    </article>
                </section>
            </div>
        </article>
    </section>
</div>
