{{partial "edit/question-detail"}}
{{#if validity.question.hasErrors}}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <strong>Oh no! </strong>You have to make some changes to the question.
            </div>
        </div>
    </div>
{{else}}
    {{#if validity.question.hasWarnings}}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <strong>Hold on! </strong>There might be some changes to make.
                    <a href='javascript:void(0)' {{action 'updateQuestion' false}}>Update question anyways</a>
                </div>
            </div>
        </div>
    {{/if}}
{{/if}}
<div class="row">
    <div class="col-md-6">
        {{#if loadingItems}}
            <div class="saving-loader pull-right">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        {{/if}}
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right action-button" {{action "updateQuestion" true}}>Update Question</button>
    </div>
</div>
