<div class="container">
    <div class="card margin-top-16 margin-bottom-16">
        <h1 class="text-center">Uh oh! You've gone and done it now! <small>404</small></h1>
        <h4 class="margin-top-16 text-center">We don't like conforming to rules either. But please stick to pages we actually
            have!
        </h4>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src='img/404.jpg' />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h4>You can use our search function at the top of the page to find what you're looking for.</h4>
            </div>
        </div>
    </div>
</div>
