<div class="container">
    <div class="card margin-top-16">
        <h1 class="text-center">Uh oh! You've gone and done it now! <small>404</small></h1>
        <h4 class="margin-top-16 text-center">We don't like conforming to rules either. But please stick to pages we actually
            have!
        </h4>
        <ul>
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>{{#link-to 'browse'}}Browse tests{{/link-to}}</li>
            <li>{{#link-to 'create'}}Create a test{{/link-to}}</li>
            <li>{{#link-to 'about'}}About us{{/link-to}}</li>
            <li>{{#link-to 'support'}}Help me!{{/link-to}}</li>
        </ul>
    </div>
</div>
