{{partial 'join/join-steps'}}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <div class="card margin-bottom-16">
                {{outlet}}
            </div>
        </div>
    </div>
</div>