<div class="container margin-bottom-16">

    <section class="row margin-bottom-16">
        <article class="col-xs-12">
            {{!-- Library Navigation Tabs --}}
            <div class="tabbable-panel page-tabs">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        {{#link-to 'library.index' tagName="li"}}
                            {{#link-to 'library.index'}}
                                Overview
                            {{/link-to}}
                        {{/link-to}}
                        {{#link-to 'library.created' tagName="li"}}
                            {{#link-to 'library.created'}}
                                Created
                            {{/link-to}}
                        {{/link-to}}

                        {{#link-to 'library.favourites' tagName="li"}}
                            {{#link-to 'library.favourites'}}
                                Favourites
                            {{/link-to}}
                        {{/link-to}}

                        {{#link-to 'library.recent' tagName="li"}}
                            {{#link-to 'library.recent'}}
                                Recent
                            {{/link-to}}
                        {{/link-to}}
                    </ul>
                </div>
            </div>

        </article>
    </section>

    <section class="row">
        <article class="col-xs-12">
            {{outlet}}
        </article>
    </section>

</div>

