<div class='container'>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 margin-top-16 text-center">
            <div class='card'>
                <h4>Reset your password!</h4>

                {{input type='password' value=newPassword class='form-control margin-bottom-16'
                action='resetPassword'}}

                {{#unless requesting}}
                    <button class="btn btn-primary" {{action 'resetPassword'}}>Reset password!</button>
                {{/unless}}
            </div>
        </div>
    </div>
</div>