<div class="container margin-bottom-16">
    <style>
        .presskit img.circle-image {
            width: 200px;
            height: 200px;
            border-radius: 125px;
            margin-right: 16px;
            margin-bottom: 16px;
        }

        .presskit img.resource-image {
            width: 100%;
            max-width: 500px;
            margin-bottom: 16px;
        }
    </style>
    <section class="row">
        <article class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="card presskit">
                <h3 class="text-center">
                    <img src="img/icon-gradient-1024.png" height="50px" class="inline-block margin-bottom-16 margin-right-16"/>

                    <p class="inline-block">Press Information - Synap</p>
                </h3>

                <h4>Company overview</h4>

                <p>Synap is a unique e-learning platform for students and professionals. We encourage our users to
                    create, practice and share Multiple Choice Question (MCQ) tests with their colleagues and friends.
                </p>

                <p>As students ourselves, we discovered how effective this method could be whilst studying for our own
                    exams.
                    Previously, studying had entailed long, dull periods of repeatedly reading through a textbook in the
                    hope
                    that
                    something would eventually stick.</p>

                <p class="margin-bottom-16">After experimenting with Synap as a personal project, we’re now focusing on
                    transforming it into a
                    world-leading
                    educational platform.</p>

                <h4>Founder Bios</h4>

                <div class="text-center">
                    <img src="img/james-small.jpg" class="circle-image"/>
                    <img src="img/omair-small.jpg" class="circle-image"/>
                </div>

                <p>James Gupta (left) and Omair Vaiyani (right) are both medical students at the University of Leeds,
                    currently
                    taking
                    a year out to work on their business and study an MSc in Healthcare Informatics. They came up with
                    the
                    concept
                    of
                    Synap a few years ago, and having worked together on a number of technology projects since then,
                    they are
                    now
                    looking to use their experience to develop Synap into a leading e-learning platform.</p>

                <p>Earlier this year, James exited his first company, JumpIn, after it was acquired by Addison-Lee.
                    James had
                    worked
                    on
                    JumpIn for 18 months as their Chief Technical Officer, and was responsible for developing the
                    product and,
                    later,
                    managing a team of developers in London. He is a fellow at Kairos Society, and the recipient of
                    Medical,
                    Enterprise
                    and Informatics scholarships from the University of Leeds.</p>

                <p class="margin-bottom-16">Omair is also the recipient of an Informatics scholarship from Leeds and is
                    on the United Kingdom Medical
                    Students'
                    Association (UKMSA) committee as their lead technical developer. UKMSA released their first and only
                    mobile
                    app:
                    The Medics Handbook, created by Omair, which became one of the top medical apps on Android within
                    days of
                    its
                    release.
                    He is also the Chief Technological Advisor at InnovateHealth UK, a new company that aims to secure
                    investments
                    for
                    innovative healthcare startups.</p>

                <blockquote>
                    <p>The value in sifting through your course material and picking out challenging
                        questions provides great insight into the topic being studied. Flashcards are
                        an improvement on just frantically highlighting lecture slides to no end,
                        but it's still passive enough to drive students into 'autopilot' mode. Creating or
                        answering an MCQ test keeps you active and alert.</p>
                    <footer>Omair Vaiyani, Co-founder <cite>
                        <a href="https://twitter.com/omairvaiyani" target="_blank">@OmairVaiyani</a></cite>
                    </footer>
                </blockquote>

                <blockquote class="blockquote-reverse">
                    <p>Studying is more fun in groups, and more effective with active participation,
                        but as a whole, we still seem to associate it with sitting alone in a room reading
                        over a textbook repeatedly in the hope that something eventually sticks.</p>
                    <footer>James Gupta, Co-founder
                        <cite><a href="https://twitter.com/gupta_james" target="_blank">@gupta_james</a></cite></footer>
                </blockquote>

                <h4 class="margin-top-16">Company History</h4>

                <p>
                    Synap was born out of a problem its founders, James and Omair, faced in their daily lives as
                    medical students. Like many courses, it requires students to learn vast quantities of new
                    information in a relatively short period of time.<br><br>

                    Fed up with spending hours sitting in a dorm room reading over and over through an anatomy textbook
                    in the hope that something would eventually stick, they decided to try something new. The duo
                    started
                    to write questions and challenged each other to take them. <br><br>

                    This became a bit of a game, trying to catch one another out on different topics, and it didn’t just
                    make the studying process more efficient, it actually made it… quite fun!<br><br>

                    Over summer, this concept was developed into Web and iOS versions of Synap. It was initially popular
                    amongst other medical students who used it to create, practice and share tests with their colleagues
                    - even developing ‘crowdsourced’ tests for subjects where everyone in a year submitted one or two
                    questions, resulting in a repository of hundreds of questions which everyone could benefit from.<br><br>

                    One day, the app went viral, amassing 16,000 downloads in the space of 4 hours. Suddenly, the app
                    was being used not just by medical students, not even just by students, but by people at all levels
                    of education. Primary school kids were using it, special needs teachers were using it, A-level
                    students, Boeing pilots, professional accountants, doctors and nurses - all creating, practicing and
                    sharing the tests they’d made on Synap. <br><br>

                    This showed James and Omair that they’d tapped into a much greater market than they’d realised -
                    this was something that a lot of people really wanted to use. Using everything they’ve learnt over
                    the last year of development, and with support from an educational charity, Jisc, and Spark at the
                    University of Leeds, they are focusing on re-developing Synap; transforming it from a hobby project
                    into a world-class educational platform.<br><br>
                </p>

                <h4 class="margin-top-16">Links</h4>

                <p><a href="http://fote-conference.com/2014/09/24/fote14-pitchfest-finalist-mycqs/" target="_blank"
                        >Future of Technology in Education (FOTE) Conference 2014 Bios</a></p>

                <p><a href="http://www.tablecrowd.com/blog/2014/06/startup-spotlight-james-gupta-mycqs/" target="_blank"
                        >Interview with James at TableCrowd</a></p>

                <p class="margin-bottom-16"><a
                        href="http://www.theguardian.com/technology/appsblog/2012/oct/26/best-ios-apps-me-books-collins-atlas"
                        target="_blank"
                        >The Guardian – 30 Best Apps This Week</a></p>

                <h4 class="margin-top-16">Resources</h4>

                <hr>
                <p>You can also download our <a href="http://assets.mycqs.com/presskit.zip" target="_blank">Press Kit</a>
                    for more high-res pictures and textual resources.</p>
                <hr>

                <h4>Contact</h4>

                <p>For more information, contact James on <a
                        href="mailto:james@synap.ac?Subject=Synap press release query"
                        target="_top">james@synap.ac</a> or tweet us
                    <a href="https://twitter.com/synap" target="_blank">@Synap</a>!</p>
            </div>
        </article>
    </section>
</div>

