<div class="test-info-page container text-center margin-bottom-16">
    <div class='card text-left'>

        {{partial 'test/test-info-base'}}

        <div class='row'>
            <div class='col-md-6 margin-top-8'>
                {{#if currentUser}}
                    {{#if isCurrentUser}}
                        {{#link-to 'edit' model.slug classNames='btn btn-primary margin-left-16'}}
                            Edit
                        {{/link-to}}
                    {{else}}
                        {{#if currentUser.isMobileUser}}
                            <button type="button" class="btn btn-info margin-left-16"
                                {{action 'sendPush' this 'toMobile' this.model}}>
                                <span class="glyphicon glyphicon-phone"></span> {{sendToMobileButtonText}}
                            </button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            <div class='col-md-6 margin-top-8'>
                {{#link-to 'test' model.slug tagName='a' classNames="btn btn-ghost pull-right margin-right-16"}}
                    Take test
                {{/link-to}}
            </div>
        </div>
    </div>
</div>
